.loader {
  width: 100%;
  height: 100%;
  background-color: #81aacc4b;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  z-index: 1000;
  overflow: hidden;
}

.loader-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 40px;
  color: yellowgreen;
  animation: Around 1s infinite linear;
}

.wrapper {
    position: relative;
  }
  
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 72px;
  background-color: var(--white-color);
  box-shadow: 0 5px 5px #ccc;
}

.sticky {
  background-color: #ffffffea;
  animation: slide-down 0.8s ease-in-out;
}

  
.header_index0-navbar {
      display: flex;
      justify-content: space-around;
      line-height: 72px;
      cursor: pointer;
}
.header_index0-navbar-menu {
  font-size: 1.8rem;
  display: none;
}
  

.header_index0-navbar-logo {
     margin-top: 8px;
}
  
.header_index0-navbar-img {
     
}

.header_index0-navbar-list {
  display: flex;
}
  
.header_index0-navbar-item {
     list-style: none;
     margin-left: 40px;
     font-size: 1.6rem;
     position: relative;
     overflow: hidden;
}
  
.header_index0-navbar-item::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 30px;
    width: 100%;
    height: 2px;
    background-color: transparent;
    border-radius: 15px;
}
  
.header_index0-navbar-item-link {
    text-decoration: none;
    color: var(--black-color);
    border: none;
}
  

  
.header_index0-navbar-item-icon {
     animation: RunIcon 0.5s ease-in infinite;
}
  

.header_index0-navbar-item:hover::after {
    background-color: #c23564;
    animation: RunLine 0.4s linear;
}
  

.header_index0-navbar-icon {
    font-size: 1.6rem;
    display: flex;
}

.header_index0-navbar-search {
    margin-left: 12px;
}

.header_index0-navbar-user {
    margin-left: 12px;
      position: relative;
}
  
.header_index0-navbar-user:hover .header_index0-navbar-form {
    display: block;
}
  
.header_index0-navbar-form {
    position: absolute;
    z-index: 2;
    background-color: var(--white-color);
    top: 28px;
    right: -42px;
    width: 100px;
    margin-top: 32px;
    background-color: #000000be;
    color: var(--white-color);
    height: 70px;
    border-radius: 6px;
    display: none;
}

.header_index0-navbar-form::after {
   content: '';
    position: absolute;
    right: 32px;
    top: -30px;
    border-style: solid;
    border-width: 16px;
    border-color: transparent transparent #000000be transparent;
}
  
.header_index0-navbar-link {
      font-size: 1.4rem;
      height: 30px;
      padding: 8px;
      line-height: 30px;
      list-style: none;
}

.login_link {
  text-decoration: none;
  color: var(--white-color);
}

.register_link {
  text-decoration: none;
  color: var(--white-color);
}

.header_users {
  margin-top: 6px;
  margin-right: 8px;
  margin-left: 18px;
  display: none;
}


.header_users-img {
  width: 24px;
  border-radius: 50%;
  position: relative;
}

.header_users-information {
  position: absolute;
  background-color: var(--white-color);
  width: 250px;
  height: 200px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  right: 206px;
  top: 60px;
  display: none;
}

.header_users-img:hover + .header_users-information,
.header_users-information:hover{
  display: block;
}

.header_users-information::after {
  position: absolute;
  content: '';
  border-color: transparent transparent #ccccccc4 transparent ;
  border-width: 16px;
  border-style: solid;
  top: -34px;
  right: 20px
}

.header_users-information::before {
  position: absolute;
  content: '';
  border-color: transparent;
  border-width: 20px;
  border-style: solid;
  top: -20px;
  right: 20px
}

.header_users-header {
  display: flex;
  padding-left: 12px;
  border-bottom: 1px solid #ccc;
}

.header_users-img2 {
  width: 24px;
  border-radius: 50%;
  margin-top: 18px;
}

.header_users-name {
  margin-left: 12px;
}

.header_users-list {

}

.header_users-item {
  list-style: none;
  padding-left: 12px;
  height: 42px;
  line-height: 42px;
  margin-top: 12px;
}

.header_users-item-link {
  text-decoration: none;
  color: var(--black-color);
}

.header_users-item:hover {
  background-color: black;
  color: var(--white-color);
}

.header_index0-navbar-cart {
      margin-left: 12px;
      position: relative;
}
.header_index0-navbar-cart:hover .cart-more {
    display: block;
}
  
.cart-more {
      position: absolute;
      background-color: var(--white-color);
      width: 500px;
      right: -32px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
      border-radius: 3px;
      display: none;
} 
  
.cart-more::before {
      position: absolute;
      content: "";
      border-width: 50px;
      border-style: solid;
      border-color: transparent;
      right: 26px;
      top: -30px;
}
  
.cart-more::after {
      position: absolute;
      content: "";
      border-width: 15px;
      border-style: solid;
      border-color: transparent transparent #ccccccb5 transparent;
      right: 26px;
      top: -30px;
}
  
.cart-more-heading {
    font-weight: 300;
    margin-left: 12px;
}
  
.cart-more-body {
  margin-bottom: 12px;
  height: 300px;
  overflow: auto;
}

.cart-item {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.cart-more-text {
    text-align: center;
}
  
  
.cart-more-photo {
      width: 54px;
      margin-top: 22px;
      margin-left: 12px;
} 
      
.cart-more-img {
      width: 100%;
      border: 1px solid #ccc;
} 
  
.cart-more-information {
     margin-left: 12px;
     line-height: 1.7;
}
  
.cart-more-name {
    display: block;
} 
.btn-cart {
    padding: 8px;
    border: none;
    background-color: var(--black-color);
    color: var(--white-color);
    border-radius: 3px;
    margin-left: 12px;
    cursor: pointer;
    margin-left: 195px;
}
.btn-cart:hover {
    background-color: rgba(0, 0, 0, 0.735);
}

.cart-item-count {
    position: absolute;
    background-color: #c23564;
    line-height: 1.6rem;
    font-size: 1.2rem;
    padding: 1px 5px;
    border-radius: 45%;
    top: 10px;
    left: 12px;
    display: none;
 }
  /* container */
  .container {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  
  .content-indexing {
    margin-bottom: 50px;
    background-color: #F6F6F6;
    height: 30px;
    line-height: 30px;
  }
  .content-indexing-item {
    font-size: 1.6rem;
    margin-left: 8px;
    color: #155BF6;
  }
  
  .content_indexing-item--color {
    color: #ccc;
  }
  
  .content_register {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #register {
    width: 460px;
    height: 557px;
  }
  
  .register_header {
    text-align: center;
  }
  
  .register_header-heading {
    font-size: 2.5rem;
    font-weight: 300;
  }
  
  .register_header-description {
    font-size: 1.6rem;
    padding-top: 12px;
  }
  
  .register_body {
    margin-top: 24px;
  
  }
  
  .register_body-group {
     margin-top: 12px;
  }
  
  .register_body-group-name {
    font-size: 1.6rem;
    margin-bottom: 8px;
    display: block;
    font-weight: 400;
  }
  
  .register_body-group-input {
    height: 40px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
    padding-left: 6px;
  }
  
  .register_body-group-messenger {
    color: rgba(255, 0, 0, 0.66);
    font-size: 1.4rem;
    padding-left: 10px;
  }
  
  .register_btn {
    margin-top: 32px;
    padding: 10px;
    width: 100%;
    font-size: 1.6rem;
    color: var(--white-color);
    border: none;
    background-color: var(--black-color);
    border-radius: 8px;
  }
  
  .register_btn:hover {
    background-color: rgba(255, 0, 0, 0.621);
  }
  
  .register_app {
    margin-top: 32px;
    text-align: center;
  }
  
  .register_app-description {
    margin-bottom: 22px;
    font-size: 1.6rem;
    color: #bbb;
  }

  .register_app-icon {
      display: flex;
  }
  
  .register_app-facebook {
    font-size: 1.6rem;
    color: #3B5998;
    padding: 8px 55px;
    width: 45%;
    margin-right: 12px;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin-left: 14px;
  }
  .register_app-google {
    font-size: 1.6rem;
    width: 45%;
    padding: 8px 65px;
    border-radius: 3px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    height: 38px;
  }

.google-img {
    height: 32px;
    object-fit: contain;
    padding-top: 12px;
    margin-bottom: 10px;
}

.register_app-google:hover,
.register_app-facebook:hover {
   cursor: pointer;
   background-color: #F6F6F6;
}
  


  /* content2 */
.content2 {
  margin-top: 100px;
  display: none;
 }
.content2_indexing {
   margin-bottom: 50px;
   background-color: #F6F6F6;
   height: 30px;
   line-height: 30px;
}
.content2_indexing-item {
   font-size: 1.6rem;
   margin-left: 8px;
   color: #155BF6;
}
 
.content2_indexing-item--color {
   color: #ccc;
}
 
.content2_product {
   
}
 
.content2_product-imgs {
   position: relative;
   transition: transform 0.5s linear;
}
.content2_product-imgs:hover {
   transform: scale(0.9);
}
 
.content2_product-img1 {
   width: 100%;
   z-index: 2;
}
.content2_product-img2 {
   position: absolute;
   left: 50%;
   transform: translate(-50%);
   width: 90%;
   height: 90%;
   z-index: -1;
   object-fit: cover;
}
 
.content2_product-information {
    margin-top: 12px;
}
.content2_product-other {
   font-size: 1.4rem;
   user-select: none;
}
 
.content2_product-heart {
   font-size: 1.4rem;
   margin-left: 160px;
 }
 
.content2_product-name {
   margin-top: 12px;
   font-size: 1.4rem;
}
 
.content2_product-price {
   margin-top: 12px;
   font-size: 1.4rem;
}

.content2_active {
  margin-top: 22px;
}

  
  
/* footer */
  
.footer_index0 {
    margin-top: 50px;
    background-color: #81AACC;
}

  
.footer_index0-logo {
    margin-top: 60px;
}
  
  
.footer_index0-list {
    margin-top: 16px;
    line-height: 2;
    padding-bottom: 50px;
}
  
.footer_index0-list-item {
     list-style: none;
     font-size: 1.6rem;
     color: var(--white-color);
}
.footer_index0-list-item:hover {
    color: #155BF6;
}
  
.footer_index0-heading {
    margin-top: 60px;
    font-size: 1.6rem;
    color: var(--white-color);
}
  
.footer_index0-inputs {
    margin-top: 16px;
    border: 2px solid #ccc;
    height: 50px;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    background-color: var(--white-color);
}
  
.footer_index0-input {
    padding-left: 6px;
    border: none;
    width: 67%;
    border-radius: 25px;
    outline: none;
}
  
.footer_index0-btn {
    font-size: 1.6rem;
    color: var(--white-color);
    background-color: var(--black-color);
    border-radius: 25px;
    padding: 0 16px;
    line-height: 3;
}
  
.footer_index0-messenger {
    display: block;
    margin-top: 12px;
    margin-left: 24px;
    font-size: 1.4rem;
    color: red;
}
  
.footer_index0-btn:hover {
    background-color: rgba(255, 0, 0, 0.6);
    cursor: pointer;
}
  
.footer_index0-icons {
    margin-top: 16px;
    display: flex;
    justify-content: space-around;
}
  
.footer_index0-icon {
    font-size: 3rem;
    display: block;
}
  
.footer_index0-icon:hover {
    color: rgba(0, 0, 0, 0.635);
}

.btn-scroll {
    position: fixed;
    right: 30px;
    bottom: 30px;
    font-size: 40px;
    animation:  runModal 1s ease-in;
    display: none;
    background-color: transparent;
    border: none;
}

  .btn-scroll:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.774);
  }
  
  
  