/* tablet & mobile */
@media (max-width: 1023px) { 
    /* header */
    .header_index2-navbar-list {
        display: none;
    }  
    .header_index2-navbar-menu {
        display: block;
        margin-top: 4px;
    }
    .header_index2-navbar-logo {
      padding-left: 32px;
      margin-top: 16px;
    }
  
    .header_index2-navbar-search {
      padding-right: 12px;
    }
  
    .header_index2-navbar-user {
      padding-right: 12px;
    }
    .header_index2-navbar-form {
       right: -30px;
    }

    /* content */
    .content_index2-none {
        display: none;
    }

    /* modal */
    .modal_search-logo  {
      display: none;
    }
    .modal_search-list {
      display: none;
    } 
  
    .content_body-product-none {
      display: none;
    }
  
  }
  
  /* tablet */
  @media (min-width: 740px) and (max-width: 1023px) {
    /* header */
      .hidden-tablet {
          display: none;
      }
      .header_index2_navbar-menu {
          font-size: 2rem;
      }
      .header_index2_navbar-icon {
          font-size: 2rem;
      }
      .header_index2_navbar-logo {
          font-size: 2rem;
      }
      .header_index2_navbar-form {
         margin-top: 42px;
      } 
      .header_index2_navbar-form::after {
         position: absolute;
         right: 27px;
      }
      .header_users-information {
        right: 112px;
      }
      /* content */
      .content_index2-product-heart {
        float: right;
      }

      .content2_product-heart {
        float: right;
      }
      /* footer */
      .footer_index2-text {
       
      }
      .footer_index2-inputs {
        width: 80%;
      }
      .footer_index2-input {
        width: 87%;
      }
      .footer_index2-btn {
        font-size: 1.4rem;
        line-height: 42px;
     }
 
  
      .footer_index2-icons {
        margin-bottom: 32px;
        margin-top: 14px;
        justify-content: c;
      }

      .btn_index2-scroll {
        bottom: 80px;
        right: 50px;
      }
     /* modal */
     .modal_search-suggest {
       left: 12%;
     }
  }
  
  /* mobile */
@media (max-width: 739px)  {
/* header */
.cart-more {
  width: 300px;
  margin-right: 12px;
}

.cart-more::after {
  right: 14px;
}
.header_users-information {
  right: 42px;
}

  /* content */
.content_index2-product-imgs {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.content_index2-product-information {
  margin-left: 42px;
}

.content_index2-product-other {
  font-size: 1.6rem;    
}

.content_index2-product-heart {
  font-size: 1.6rem;
  float: right;
  margin-right: 42px;
}

.content_index2-product-name {
  font-size: 1.6rem;
}

.content_index2-product-price {
  font-size: 1.6rem;
}

.content2_product-imgs {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.content2_product-information {
  margin-left: 42px;
}

.content2_product-other {
    font-size: 1.6rem;    
}

.content2_product-heart {
    font-size: 1.6rem;
    float: right;
    margin-right: 42px;
}

.content2_product-name {
    font-size: 1.6rem;
}

.content2_product-price {
    font-size: 1.6rem;
}



  /* footer */
  .footer_index2-text {
    padding: 22px;
  }

  .footer_index2-inputs {
    height: 52px;
    width: 80%;
  }

  .footer_index2-input {
    width: 74%;
  }
  
  .footer_index2-btn {
      padding: 4px 12px;
      font-size: 1.4rem;
      line-height: 42px;
  }

  .footer_index2-messenger {
    margin-left: 0;
  }

  .footer_index2-icons {
      padding-bottom: 32px;
      margin-top: 32px;
  }


  .footer_index2-icon {
    font-size: 2rem;
  }

  .btn_index2-scroll {
    margin-bottom: 42px;
  }
  

  .modal_search-suggest {
    width: 320px;
    left: 12%;
  }

  .modal_search-product {
    width: 90%;
  }

  }
  
  
  