/* tablet & mobile */
@media (max-width: 1023px) { 
    /* header */
    .header_index3 {
      position: fixed; 
      top: 0;
      left: 0; 
      right: 0;
    }
    .header_index3-navbar-list {
        display: none;
    }  
    .header_index3-navbar-menu {
        display: block;
    }

    .header_index3-navbar-logo {
      padding-left: 32px;
      margin-top: 12px;
    }
  
    .header_index3-navbar-search {
      padding-right: 12px;
    }
  
    .header_index3-navbar-user {
      padding-right: 12px;
    }
    .header_index3-navbar-form {
       right: -30px;
    }

    /* content */
    .content_index3-none {
        display: none;
    }

    /* modal */
    .modal_search-logo  {
      display: none;
    }
    .modal_search-list {
      display: none;
    } 
  
    .content_body-product-none {
      display: none;
    }
  
  }
  
  /* tablet */
  @media (min-width: 740px) and (max-width: 1023px) {
      .hidden-tablet {
          display: none;
      }
      .header_index3-navbar-menu {
          font-size: 2rem;
      }
      .header_index3-navbar-icon {
          font-size: 2rem;
      }
      .header_index3-navbar-logo {
          font-size: 2rem;
      }
      .header_index3-navbar-form {
         margin-top: 42px;
      } 
      .header_index3-navbar-form::after {
         position: absolute;
         right: 27px;
      }
      .header_index3-navbar-form {
        margin-right: 6px;
        margin-top: 42px;
      }

      .header_users-information {
        right: 116px;
      }
      /* content */
      .content_index7-map {
        text-align: center;
      }
      /* footer */
      .footer_index3-text {
        padding-top: 12px;
        padding-left: 22px;
      }
      .footer_index3-inputs {
        width: 80%;
      }
      .footer_index3-input {
        width: 84%;
      }
      .footer_index3-btn {
        padding: 4px 24px;
        font-size: 1.4rem;
        line-height: 39px;
     }
 
  
      .footer_index3-icons {
        margin-bottom: 32px;
        margin-top: 14px;
        justify-content: c;
      }

      .btn_index3-scroll {
        bottom: 80px;
        right: 50px;
      }

      /* modal */

      .modal_search-suggest {
        left: 12%;
      }
  
  }
  
  /* mobile */
  @media (max-width: 739px)  {
     /* header */
     .cart-more {
      width: 300px;
      margin-right: 12px;
    }

    .cart-more::after {
      right: 14px;
    }

    .header_users-information {
      right: 42px;
     }
    
      /* content */
      .content_index3-product-imgs {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
      }
      
      .content_index3-product-information {
        margin-left: 42px;
      }
      
      .content_index3-product-other {
        font-size: 1.6rem;    
      }
      
      .content_index3-product-heart {
        font-size: 1.6rem;
        float: right;
        margin-right: 42px;
      }
      
      .content_index3-product-name {
        font-size: 1.6rem;
      }
      
      .content_index3-product-price {
        font-size: 1.6rem;
      }
      
    
      .content2_product-information {
        margin-left: 42px;
      }
    
      .content2_product-other {
         font-size: 1.6rem;    
      }
    
      .content2_product-heart {
         font-size: 1.6rem;
         float: right;
         margin-right: 42px;
      }
    
      .content2_product-name {
         font-size: 1.6rem;
      }
    
      .content2_product-price {
         font-size: 1.6rem;
      }
  
      /* footer */
      .footer_index3-text {
        padding-left: 12px;
      }
      .footer_index3-inputs {
        height: 52px;
        width: 80%;
      }
  
      .footer_index3-input {
        width: 75%;
      }
      
      .footer_index3-btn {
         padding: 4px 12px;
         font-size: 1.4rem;
         line-height: 42px;
      }
  
      .footer_index3-messenger {
        margin-left: 0;
      }
  
      .footer_index3-icons {
         padding-bottom: 32px;
         margin-top: 32px;
      }
  
  
      .footer_index3-icon {
        font-size: 2rem;
      }
  
      .btn_index3-scroll {
        margin-bottom: 42px;
      }
      

  
      .modal_search-suggest {
        width: 320px;
        left: 14%;
      }

      .modal_search-product {
        width: 90%;
      }
    
  }
  
  
  