/* tablet and mobile */
@media (max-width: 1039px) {
    /* header */

    .header_index9-navbar-logo {
        margin-left: 40px;
        margin-top: 14px;
    }
    .header_index9-navbar-menu {
        display: block !important;
        font-size: 2rem;
    }
      
    .header_index9-navbar-list {
        display: none;
    }

    .header_index9-navbar-search {
        padding-right: 12px;
    }
    
    .header_index9-navbar-user {
        padding-right: 12px;
    }
    .header_index9-navbar-form {
         right: -30px;
    }


    /* modal */
    .modal_search-list {
        display: none;
    }
    .modal_search-logo {
        display: none;
    }
    
    /* footer */
    .footer_index99-icons {
        margin-bottom: 32px;
    }
}
/* tablet */
@media (min-width: 740px) and (max-width: 1039px) {
    .header_index9-navbar-menu {
        font-size: 2rem;
    }
    .header_index9-navbar-icon {
        font-size: 2rem;
    }
    .header_index9-navbar-logo {
        font-size: 2rem;
    }
    .header_users-information {
      right: 162px;
    }

    .header_index9-navbar-form {
        margin-right: 2px;
        margin-top: 38px;
    }

    .cart-more {
        margin-right: 2px;
        margin-top: 8px;
    }
    /* content */
    .content2_product-heart {
        float: right;
    }
    /* footer */
    .footer_index9--text {
        margin-top: 12px;
        text-align: center;
    }
    .footer_index9-inputs {
      width: 95%;
    }
    .footer_index9-input {
      width: 84%;
    }

    .footer_index9-icons {
        margin-bottom: 32px;
        margin-top: 14px;
    }

    /* MODAL */
   .modal_search-product {
    margin-left: 150px;
   }

   .modal_search-product {
      margin-right: auto;
      margin-left: auto;
      height: 52px;
   }

   .modal_search-btn {
     padding: 12px 30px;
   }

   .modal_search-suggest {
      left: 12%;
   }

}

/* mobile */
@media (max-width: 739px) {
/* header */

.header_users-information {
  right: 42px;
}

.cart-more {
    width: 300px;
    margin-right: 16px;
}

.cart-more::after {
    right: 8px;
}

/* content */
.login_app-facebook {
    padding: 8px 40px ;
}
.login_app-google {
    padding: 8px 48px;
}
.login_body-group-input {
   width: 97%;
   margin-left: 6px;
}
.login_body-group-name {
    padding-left: 6px;
}

.login_btn {
    width: 97%;
    margin-left: 6px;
}

.content2_product-imgs {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.content2_product-information {
  margin-left: 42px;
}

.content2_product-other {
    font-size: 1.6rem;    
}

.content2_product-heart {
    font-size: 1.6rem;
    float: right;
    margin-right: 42px;
}

.content2_product-name {
    font-size: 1.6rem;
}

.content2_product-price {
    font-size: 1.6rem;
}

/* footer */
.footer_index9-text {
    padding-left: 22px;
}
.footer_index9-inputs {
    height: 52px;
    width: 80%;
}

.footer_index9-input {
    width: 75%;
}

.footer_index9-btn{
    padding: 4px 12px;
    font-size: 1.4rem;
    line-height: 40px;
}

.footer_index9-messenger {
    margin-left: 0;
}

.footer_index9-icons {
    padding-bottom: 32px;
    margin-top: 32px;
}


.footer_index9-icon {
    font-size: 2rem;
}

.btn_index9-scroll {
    margin-bottom: 50px;
}

.modal4_body-cover {
    width: 400px;
    margin-top: 70px;
}

.modal_search-suggest {
    width: 320px;
    left: 14%;
}
.modal_search-product {
    width: 90%;
}

}