:root {
    --white-color: #fff;
    --black-color: #000;
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.gird {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.gird_row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.gird_column-2-4 {
    width: 20%;
    padding-left: 12px;
    padding-right: 12px;
}


.gird_column-3 {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: none;
    z-index: 3;
}
  
.modal_overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
}

.modal_body  {
   position: relative;
}

.modal_cover {
    background-color: var(--white-color);
    position: relative;
    z-index: 1;
    height: 130px;
    animation: runModal 0.5s ease;
}

.modal_search  {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  padding-top: 60px;
 
}

.modal_search-logo  {
   
}
.modal_search-product  {
    position: relative;
    width: 651px;
    border: 1px solid var(--black-color);
    border-radius: 35px;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    display: flex;
}


.modal_search-input  {
     width: 90%;
     border: none;
     outline: none;
     margin-left: 12px;
}  
.modal_search-btn  {
    font-size: 1.6rem;
    background-color: var(--black-color);
    color: var(--white-color);
    border-radius: 2px;
    padding:  10px 20px;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    margin: 1.5px 2px 2px 2px;
    cursor: pointer;
}

.modal_search-btn:hover {
    background-color: rgba(255, 0, 0, 0.658);
}

.modal_search-list  {
  width: 140px;
  display: flex;
}
.modal_search-icon  {
    padding-left: 22px;
    font-size: 1.6rem;
    cursor: pointer;
}

.modal_search-hover {
    position: relative;

}

.modal_search-hover:hover .modal_search-form {
    display: block;
}

.modal_search-form {
  position: absolute;
  background-color: var(--white-color);
  top: 0;
  margin-top: 32px;
  width: 100px;
  background-color: #000000be;
  color: var(--white-color);
  height: 70px;
  border-radius: 6px;
  display: none;
}

.modal_search-form::after {
    content: '';
    position: absolute;
    right: 32px;
    top: -30px;
    border-style: solid;
    border-width: 16px;
    border-color: transparent transparent #000000be transparent;
}

.modal_search-item {
     list-style: none;
     padding: 8px;
     font-size: 1.4rem;
}
.modal_search-suggest { 
    background-color: var(--white-color);
    position: absolute;
    left: 30%;
    top: 90px;
    width: 600px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    display: none;
}


.modal_search-suggest-item {
    list-style: none;
    font-size: 1.4rem;
    padding-left: 24px;
    padding-top: 20px;
    padding-bottom: 12px;
}
.modal_search-suggest-item:hover {
    background-color: #000000b4;
    color: var(--white-color);
}

  


/* moadal condition  */

.modal2 {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: none;
}
  
.modal2_overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
}

.modal_body2  {
   position: relative;
}

.modal2_tatol {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 200px;
}
.modal2_condition {
    height: 300px;
    width: 500px;
    background-color: var(--white-color);
    border-radius: 4px;
}

.modal2_condition-header {
    padding: 12px;
    text-align: center;
    font-size: 1.6rem;
    position: relative;
}

.modal2_condition-icon {
   position: absolute;
   right: 10px;
   top: 10px;
   cursor: pointer;
}


.modal2_condition-heading {
    font-weight: 300;
    color: #155bf6;
}

.modal2_condition-body {
  font-size: 1.6rem;
  margin-top: 12px;
}

.modal2_condition-promo-code {
  display: block;
  background-color: #f3f3f3;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding-left: 16px;
  padding-right: 16px;
}

.modal2_condition-description {
    display: block;
    padding-top: 12px;
    padding-left: 16px;
    line-height: 2;
}

.modal2_condition-button {
    margin-top: 30px;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    justify-content: space-around;
}
.modal3 {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: none;
}
.modal3_overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
}

.modal3_body {
   background-color: var(--white-color);
   width: 320px;
   height: 100%;
   position: relative;
   z-index: 1;
   animation: RunLine 0.4s linear;
}

.modal3_menu-header {
    display: flex;
    align-items: center;
    background-color: var(--black-color);
    height: 50px;
    padding-left: 12px;
}
.modal3_menu-user {
  color: var(--white-color);
  font-size: 1.6rem;
  padding-top: 8px;
  margin-bottom: 4px;
}

.modal3_menu-user-success {
    display: flex;
    align-items: center;
    display: none;
}

.modal3_menu-user-name {
    color: var(--white-color);
    font-size: 1.6rem;
    margin-left: 12px;
}

.modal3_menu-user-img {
    width: 34px;
    border-radius: 50%;
}

.modal3_menu-cover {
    margin-left: 12px;
    line-height: 1.5;
}
.modal3_menu-heading {
    color: var(--white-color);
    font-size: 1.6rem;
    font-weight: 300;
}
.modal3_menu-description {
    color: var(--white-color);
    font-size: 1.2rem;
}

.modal3_menu-description-link {
  text-decoration: none;
  color: var(--white-color);
} 
.modal3_menu-list {
  margin-top: 22px;
  line-height: 3;
}
.modal3_menu-item {
 padding-left: 16px;
 font-size: 1.4rem;

}

.modal3_menu-item:hover {
    background-color: #155bf6;
    color: var(--white-color);
    width: 100%;
}


.modal3_menu-link {
    text-decoration: none;
    color: var(--black-color);
}



.button-close {
  padding: 9px 80px;
  color: var(--black-color);
  background-color: var(--white-color);
  border: 1px solid #155bf6;
  border-radius: 4px;
  font-size: 1.6rem;
}
.button-copy {
    padding: 10px 70px;
    color: var(--white-color);
    background-color: #155bf6;
    border-radius: 4px;
    border: none;
    font-size: 1.6rem;
  
}

.button-close:hover {
    color: var(--white-color);
    background-color: #155bf6;
    cursor: pointer;
}

.button-copy:hover {
    cursor: pointer;
    background-color:  #155cf6a0;;
}

.open {
    display: block;
}

.close {
    display: none;
}

.open2 {
    display: block;
}

.close2 {
    display: none;
}
.open3 {
    display: flex;
}

.close3 {
    display: none;
}

.open4 {
    display: block;
}


@keyframes RunLine2 {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(-50%);
    }
}
@keyframes RunLine {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}
@keyframes RunSlider {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes RunImg {
    from {
        opacity: 0;
        
    }
    to {
        opacity: 1;
    }
}

@keyframes runModal {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes RunIcon {
    0% {
        color:  rgba(255, 0, 0, 0.84);
    }
    25% {
        color: yellow;
    }
    75% {
        color: yellowgreen;
    }
}

@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

@keyframes slide-down {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}

@keyframes slideAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }