<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chương trình giảm giá</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/discount.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/gird.css">
    <link rel="stylesheet" href="./css/reponsive4.css">
</head>
<body class="preloading">
    <div class="loader">
        <span class="loader-icon">
            <i class="fa-solid fa-spinner"></i>
        </span>
    </div>
    <div class="wrapper_index4">
        <header>
            <div class="gird wide">
                <div class="header_index4-navbar">
                    <div class="header_index4-navbar-menu">
                        <i class="fa-solid fa-bars"></i>
                    </div>

                    <div class="header_index4-navbar-logo">
                        <img class="header_navbar-img" src="//theme.hstatic.net/200000696635/1001034053/14/logo.png?v=393" alt="logo EGA Men Style" width="134" height="45">
                    </div>
                    <ul class="header_index4-navbar-list">
                        <li class="header_index4-navbar-item">
                            <a href="../home/index.html" class="header_index4-navbar-item-link">
                                Trang chủ
                        </li>
                        <li class="header_index4-navbar-item">
                            <a href="../product/product.html" class="header_index4-navbar-item-link">
                                Sản phẩm
                            </a>
                        </li>
                        <li class="header_index4-navbar-item">
                            <span class="header_index4-navbar-item-icon">
                                <i class="fa-solid fa-bolt"></i>
                            </span>
                            <a href="../discount/discount.html" class="header_index4-navbar-item-link">
                               Chương trình khuyến mại
                            </a>
                        </li>
                        <li class="header_index4-navbar-item">
                            <a href="../address/address.html" class="header_index4-navbar-item-link">
                                Hệ Thống cửa Hàng
                            </a>
                        </li>
                        <li class="header_index4-navbar-item">
                            <a href="../introduce/introduce.html" class="header_index4-navbar-item-link">
                                Giới thiệu
                            </a>
                        </li>
                        <div class="header_index4-navbar-line"></div>
                    </ul>
                    <div class="header_index4-navbar-icon">
                        <span class="header_index4-navbar-search">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </span>
                        <span class="header_index4-navbar-user">
                            <i class="fa-solid fa-user"></i>
                            <ul class="header_index4-navbar-form">
                                <li class="header_index4-navbar-link">
                                    <a href="../login/login.html" class="login_link">
                                        Đăng nhập
                                    </a>
                                </li>
                                <li class="header_index4-navbar-link">
                                    <a href="../register/register.html" class="register_link">
                                        Đăng ký
                                    </a>
                                </li>
                            </ul>
                        </span>
                        <div class="header_users">
                            <img src="https://anhdep123.com/wp-content/uploads/2021/05/avatar-trang-dep.jpg" alt="" class="header_users-img">
                            <div class="header_users-information">
                                <div class="header_users-header">
                                    <div class="header_users-photo">
                                        <img src="https://anhdep123.com/wp-content/uploads/2021/05/avatar-trang-dep.jpg" alt="" class="header_users-img2">
                                    </div>
                                    <h4 class="header_users-name">minh minh</h4>
                                </div>
                                <ul class="header_users-list">
                                    <a href="../orderPlaced/orderPlaced.html" class="header_users-item-link">
                                        <li class="header_users-item">
                                             Đơn hàng của bạn
                                        </li>
                                    </a>
                                   <li class="header_users-item header_users-exit">Đăng xuất</li>
                                </ul>
                            </div>
                        </div>
                        <span class="header_index4-navbar-cart">
                            <span class="cart-item-count">0</span>
                            <i class="fa-solid fa-cart-shopping"></i>
                            <div class="cart-more">
                                <div class="cart-more-heading">
                                    Sản phẩm đã thêm
                                </div>
                                <div class="cart-more-body">
                                    
                                </div>
                                <a href="../cart/cart.html" class="car-more-link">
                                    <button class="btn-cart">Xem giỏ hàng</button>
                                </a>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </header>

        <div class="container_index4">
            <div class="content_index4">
                <div class="content_index4-indexing">
                    <div class="gird wide">
                        <span class="content_index4-indexing-name">Trang chủ</span>
                        <span class="content_index4-indexing-name">/Danh mục</span>
                        <span class="content_index4-indexing-name content_index4-indexing-name-color">/giảm giá sản phẩm</span>
                    </div>
                </div>
                <div class="gird wide">
                    <div class="content_index4-slider">
                                <div class="content_index4-slider-text">
                                    <div class="content_index4-slider-photo">
                                        <img src="../img/2.png" alt="" class="content_index4-slider-img">
                                    </div>
                                    <p class="content_index4-slider-description">
                                        Ưu đãi đặc biệt! Giảm giá 50% cho tất cả sản phẩm quần áo tại cửa hàng của chúng tôi. Những mẫu quần áo mới nhất và phong cách đa dạng đang chờ đón bạn. Đừng bỏ lỡ cơ hội này, hãy đến ngay cửa hàng của chúng tôi và mua sắm ngay hôm nay!
                                    </p>
                                </div>
                            
                                <div class="content_index4-slider-text">
                                    <div class="content_index4-slider-photo">
                                        <img src="../img/1.png" alt="" class="content_index4-slider-img">
                                    </div>
                                    <p class="content_index4-slider-description">
                                        Thời trang phong cách và giá trị vượt trội! Chúng tôi đang tổ chức chương trình giảm giá toàn bộ sản phẩm quần áo 50%. Đừng bỏ lỡ cơ hội để thêm những món đồ thời thượng vào tủ quần áo của bạn. Hãy đến và khám phá bộ sưu tập đa dạng của chúng tôi và tận hưởng ưu đãi hấp dẫn này ngay hôm nay!
                                    </p>
                                </div>
                            
                                <div class="content_index4-slider-text">
                                    <div class="content_index4-slider-photo">
                                        <img src="../img/3.png" alt="" class="content_index4-slider-img">
                                    </div>
                                    <p class="content_index4-slider-description">
                                        Lựa chọn thời trang đẳng cấp! Chúng tôi xin gửi đến bạn một ưu đãi đặc biệt - giảm giá 50% cho tất cả các sản phẩm quần áo. Từ những bộ đồ công sở thanh lịch đến những bộ trang phục dạo phố cá tính, chúng tôi đảm bảo bạn sẽ tìm thấy phong cách phù hợp với mình. Ghé thăm cửa hàng của chúng tôi ngay bây giờ và biến phong cách của bạn thành một tuyên ngôn! 
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gird wide">
                        <h1 class="content_index4-heading">
                            Chương trình giảm giá "Hè Rực Rỡ" - Giảm giá lên đến 50%!
                        </h1>
                        <ul class="content_index4-text">
                            <li class="content_index4-text-item">
                                Nội dung chương trình
                            </li>
                            <p class="content_index4-text-description">
                                <span>
                                    Chương trình "Hè Rực Rỡ" mang đến cho bạn cơ hội mua sắm với giá cực kỳ hấp dẫn. 
                                </span>
                                <span>
                                    Chúng tôi giảm giá lên đến 50% cho hàng ngàn sản phẩm đa dạng từ các ngành hàng khác nhau.
                                </span>
                                <span>
                                    Bạn sẽ có cơ hội sở hữu những sản phẩm chất lượng từ các thương hiệu nổi tiếng với mức giá ưu đãi chưa từng có.
                                </span>
                            </p>
                            <li class="content_index4-text-item">
                               Thời gian chương trình 
                            </li>
                            <p class="content_index4-text-description">
                                <span>
                                    Chương trình "Hè Rực Rỡ" diễn ra từ ngày 1/8/2023 đến hết ngày 15/8/2023. 
                                </span>
                                <span>
                                    Hãy nhanh tay để không bỏ lỡ cơ hội mua sắm với giá ưu đãi.
                                </span>
                            </p>
                            <li class="content_index4-text-item">
                                Đối tượng áp dụng
                            </li>
                            <p class="content_index4-text-description">
                                <span>
                                    Chương trình giảm giá "Hè Rực Rỡ" dành cho tất cả khách hàng, bao gồm cả khách hàng thân thiết và khách hàng mới.
                                </span>
    
                                <span>
                                    Đối tượng khách hàng có thể là cá nhân hoặc doanh nghiệp.
                                </span>
                            </p>
    
                            <li class="content_index4-text-item">
                                  Điều kiện áp dụng
                            </li>
                            <p class="content_index4-text-description">
                                <span>
                                    Chương trình áp dụng cho tất cả khách hàng mua hàng trực tuyến hoặc đến cửa hàng trực tiếp.
                                </span>
                                <span>
                                    Giá trị giảm giá được áp dụng trên giá gốc của sản phẩm và không áp dụng đồng thời với các chương trình khuyến mãi khác.
                                </span>
                            </p>
                            <button class="content_index4-btn">
                                <a href="../product/product.html" class="content_index4-btn-link">
                                    xem ngay
                                </a>
                            </button>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="content2">
                <div class="content2_indexing">
                    <div class="grid wide">
                        <span class="content2_indexing-item">Trang chủ</span>
                        <span class="content2_indexing-item">/Tài khoản</span>
                        <span class="content2_indexing-item content_indexing-item--color">/Sản phẩm</span>
                    </div>
                </div>
                <div class="grid wide">
                    <div class="row">
                        <div class="col l-2-4 m-4 c-12 content2_active" type="Áo sơ mi kẻ">
                            <div class="content2_product">
                                <div class="content2_product-imgs">
                                    <img src="https://theme.hstatic.net/200000696635/1001034053/14/frame_2.png?v=394" alt="" class="content2_product-img1">
                                    <img src="https://product.hstatic.net/200000696635/product/frame_74_e16dcdce7c2a41d286587294ba0d123c_medium.png" alt="" class="content2_product-img2">
                                </div>
                                <div class="content2_product-information">
                                    <span class="content2_product-other">
                                        khác
                                    </span>
                                    <span class="content2_product-heart">
                                        <i class="fa-solid fa-heart"></i>
                                    </span>
                                    <h3 class="content2_product-name">
                                        Áo sơ mi kẻ sọc - blue
                                    </h3>
                                    <p class="content2_product-price">
                                        499,000₫
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col l-2-4 m-4 c-12 content2_active" type="Quần dài nam">
                            <div class="content2_product">
                                <div class="content2_product-imgs">
                                    <img src="https://theme.hstatic.net/200000696635/1001034053/14/frame_2.png?v=394" alt="" class="content2_product-img1">
                                    <img src="https://product.hstatic.net/200000696635/product/frame_62_d41e2c3c7f3f47289f6dac45b3af0f0c_medium.png" alt="" class="content2_product-img2">
                                </div>
                                <div class="content2_product-information">
                                    <span class="content2_product-other">
                                        khác
                                    </span>
                                    <span class="content2_product-heart">
                                        <i class="fa-solid fa-heart"></i>
                                    </span>
                                    <h3 class="content2_product-name">
                                        Quần dài nam - Brown
                                    </h3>
                                    <p class="content2_product-price">
                                        499,000₫
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col l-2-4 m-4 c-12 content2_active" type="Áo khoác nam">
                            <div class="content2_product">
                                <div class="content2_product-imgs">
                                    <img src="https://theme.hstatic.net/200000696635/1001034053/14/frame_2.png?v=394" alt="" class="content2_product-img1">
                                    <img src="https://product.hstatic.net/200000696635/product/frame_56_5e2199fb082041d3ab669075a49c7665_medium.png" alt="" class="content2_product-img2">
                                </div>
                                <div class="content2_product-information">
                                    <span class="content2_product-other">
                                        khác
                                    </span>
                                    <span class="content2_product-heart">
                                        <i class="fa-solid fa-heart"></i>
                                    </span>
                                    <h3 class="content2_product-name">
                                        Áo khoác nam - Grey
                                    </h3>
                                    <p class="content2_product-price">
                                        799,000₫
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col l-2-4 m-4 c-12 content2_active" type="Quần ngắn nam kẻ">
                            <div class="content2_product">
                                <div class="content2_product-imgs">
                                    <img src="https://theme.hstatic.net/200000696635/1001034053/14/frame_2.png?v=394" alt="" class="content2_product-img1">
                                    <img src="https://product.hstatic.net/200000696635/product/frame_71_aa2edc2c58d64d12b573c5833d129f2f_medium.png" alt="" class="content2_product-img2">
                                </div>
                                <div class="content2_product-information">
                                    <span class="content2_product-other">
                                        khác
                                    </span>
                                    <span class="content2_product-heart">
                                        <i class="fa-solid fa-heart"></i>
                                    </span>
                                    <h3 class="content2_product-name">
                                        Quần ngắn nam - Brown
                                    </h3>
                                    <p class="content2_product-price">
                                        499,000₫
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col l-2-4 m-4 c-12 content2_active" type="Áo sơ mi kẻ">
                            <div class="content2_product">
                                <div class="content2_product-imgs">
                                    <img src="https://theme.hstatic.net/200000696635/1001034053/14/frame_2.png?v=394" alt="" class="content2_product-img1">
                                    <img src="https://product.hstatic.net/200000696635/product/frame_64_2e43ad9070f041aa8d80f8b47ed34876_medium.png" alt="" class="content2_product-img2">
                                </div>
                                <div class="content2_product-information">
                                    <span class="content2_product-other">
                                        khác
                                    </span>
                                    <span class="content2_product-heart">
                                        <i class="fa-solid fa-heart"></i>
                                    </span>
                                    <h3 class="content2_product-name">
                                        Áo sơ mi kẻ sọc - White
                                    </h3>
                                    <p class="content2_product-price">
                                        499,000₫
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col l-2-4 m-4 c-12 content2_active" type="Áo sơ mi kẻ">
                            <div class="content2_product">
                                <div class="content2_product-imgs">
                                    <img src="https://theme.hstatic.net/200000696635/1001034053/14/frame_2.png?v=394" alt="" class="content2_product-img1">
                                    <img src="https://product.hstatic.net/200000696635/product/frame_66_d1372db2da6745bb9263cc35586b4fda_medium.png" alt="" class="content2_product-img2">
                                </div>
                                <div class="content2_product-information">
                                    <span class="content2_product-other">
                                        khác
                                    </span>
                                    <span class="content2_product-heart">
                                        <i class="fa-solid fa-heart"></i>
                                    </span>
                                    <h3 class="content2_product-name">
                                        Áo sơ mi kẻ sọc - Pink
                                    </h3>
                                    <p class="content2_product-price">
                                        499,000₫
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col l-2-4 m-4 c-12 content2_active" type="Quần ngắn nam">
                            <div class="content2_product">
                                <div class="content2_product-imgs">
                                    <img src="https://theme.hstatic.net/200000696635/1001034053/14/frame_2.png?v=394" alt="" class="content2_product-img1">
                                    <img src="https://product.hstatic.net/200000696635/product/frame_69_a753cbc9334c497a9f756abe4b321992_medium.png" alt="" class="content2_product-img2">
                                </div>
                                <div class="content2_product-information">
                                    <span class="content2_product-other">
                                        khác
                                    </span>
                                    <span class="content2_product-heart">
                                        <i class="fa-solid fa-heart"></i>
                                    </span>
                                    <h3 class="content2_product-name">
                                        Quần ngắn nam - Brown
                                    </h3>
                                    <p class="content2_product-price">
                                        599,000₫
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col l-2-4 m-4 c-12 content2_active" type="Quần dài nam">
                            <div class="content2_product">
                                <div class="content2_product-imgs">
                                    <img src="https://theme.hstatic.net/200000696635/1001034053/14/frame_2.png?v=394" alt="" class="content2_product-img1">
                                    <img src="https://product.hstatic.net/200000696635/product/frame_63_8bd6284d4be94019b32a991cc12d8554_medium.png" alt="" class="content2_product-img2">
                                </div>
                                <div class="content2_product-information">
                                    <span class="content2_product-other">
                                        khác
                                    </span>
                                    <span class="content2_product-heart">
                                        <i class="fa-solid fa-heart"></i>
                                    </span>
                                    <h3 class="content2_product-name">
                                        Quần dài nam VERA - Grey
                                    </h3>
                                    <p class="content2_product-price">
                                        799,000₫
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col l-2-4 m-4 c-12 content2_active" type="Áo thun nam">
                            <div class="content2_product">
                                <div class="content2_product-imgs">
                                    <img src="https://theme.hstatic.net/200000696635/1001034053/14/frame_2.png?v=394" alt="" class="content2_product-img1">
                                    <img src="https://product.hstatic.net/200000696635/product/frame_13_1ebea68b4c724dcea33c65117c5c9c8d_medium.png" alt="" class="content2_product-img2">
                                </div>
                                <div class="content2_product-information">
                                    <span class="content2_product-other">
                                        khác
                                    </span>
                                    <span class="content2_product-heart">
                                        <i class="fa-solid fa-heart"></i>
                                    </span>
                                    <h3 class="content2_product-name">
                                        Áo thun nam - Brown
                                    </h3>
                                    <p class="content2_product-price">
                                        499,000₫
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col l-2-4 m-4 c-12 content2_active" type="Áo thun nam">
                            <div class="content2_product">
                                <div class="content2_product-imgs">
                                    <img src="https://theme.hstatic.net/200000696635/1001034053/14/frame_2.png?v=394" alt="" class="content2_product-img1">
                                    <img src="https://product.hstatic.net/200000696635/product/frame_14_b72c7539500344b5b76513f5de74c83c_medium.png" alt="" class="content2_product-img2">
                                </div>
                                <div class="content2_product-information">
                                    <span class="content2_product-other">
                                        khác
                                    </span>
                                    <span class="content2_product-heart">
                                        <i class="fa-solid fa-heart"></i>
                                    </span>
                                    <h3 class="content2_product-name">
                                        Áo thun nam - green
                                    </h3>
                                    <p class="content2_product-price">
                                        499,000₫
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col l-2-4 m-4 c-12 content2_active" type="Quần jeans">
                            <div class="content2_product">
                                <div class="content2_product-imgs">
                                    <img src="https://theme.hstatic.net/200000696635/1001034053/14/frame_2.png?v=394" alt="" class="content2_product-img1">
                                    <img src="https://product.hstatic.net/200000696635/product/frame_76_3f5b889e8a2b4d54b910ed464dc22974_medium.png" alt="" class="content2_product-img2">
                                </div>
                                <div class="content2_product-information">
                                    <span class="content2_product-other">
                                        khác
                                    </span>
                                    <span class="content2_product-heart">
                                        <i class="fa-solid fa-heart"></i>
                                    </span>
                                    <h3 class="content2_product-name">
                                        Quần jeans nam FIT - xanh rêu
                                    </h3>
                                    <p class="content2_product-price">
                                        799,000₫
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col l-2-4 m-4 c-12 content2_active" type="Áo thun nam">
                            <div class="content2_product">
                                <div class="content2_product-imgs">
                                    <img src="https://theme.hstatic.net/200000696635/1001034053/14/frame_2.png?v=394" alt="" class="content2_product-img1">
                                    <img src="https://product.hstatic.net/200000696635/product/frame_12_1396f3eceb78463895c5fcb833a9c0fd_medium.png" alt="" class="content2_product-img2">
                                </div>
                                <div class="content2_product-information">
                                    <span class="content2_product-other">
                                        khác
                                    </span>
                                    <span class="content2_product-heart">
                                        <i class="fa-solid fa-heart"></i>
                                    </span>
                                    <h3 class="content2_product-name">
                                        Áo thun nam-black
                                    </h3>
                                    <p class="content2_product-price">
                                        499,000₫
                                    </p>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
        <div class="footer_index4">
            <div class="gird wide">
                <div class="row">
                    <div class="col l-3 m-12 c-12 footer_index4-text ">
                        <div class="footer_index4-logo">
                            <img src="//theme.hstatic.net/200000696635/1001034053/14/logo-footer.png?v=394" alt="" class="footer_index4-logo-img">
                        </div>
                        <ul class="footer_index4-list">
                            <li class="footer_index4-list-item">Địa chỉ: ngõ 177 , Phường Phúc Diễn, Bắc Từ niêm, Tp.Hà nội</li>
                            <li class="footer_index4-list-item"> Số điện thoại: 19001393</li>
                            <li class="footer_index4-list-item">Email: support@egany.com</li>
                            <li class="footer_index4-list-item">© Bản quyền thuộc về EGANY | Cung cấp bởi Haravan</li>
                        </ul>
                    </div>

                    <div class="col l-3 m-12 c-12 footer_index4-text ">
                        <h3 class="footer_index4-heading">CHÍNH SÁCH</h3>
                        <ul class="footer_index4-list">
                            <li class="footer_index4-list-item">Giới thiệu</li>
                            <li class="footer_index4-list-item">Hệ thống cửa hàng</li>
                            <li class="footer_index4-list-item">Câu hỏi thường gặp</li>
                            <li class="footer_index4-list-item">Gọi điện đặt hàng</li>
                        </ul>
                    </div>

                    <div class="col l-3 m-12 c-12 footer_index4-text">
                        <h3 class="footer_index4-heading">HỖ TRỢ KHÁCH HÀNG</h3>
                        <ul class="footer_index4-list">
                            <li class="footer_index4-list-item">Liên hệ</li>
                            <li class="footer_index4-list-item">Chính sách bán hàng</li>
                            <li class="footer_index4-list-item">Chính sách giao hàng</li>
                            <li class="footer_index4-list-item">Chính sách đổi trả</li>
                        </ul>
                    </div>

                    <div class="col l-3 m-12 c-12 footer_index4-text">
                        <h3 class="footer_index4-heading">ĐĂNG KÝ NHẬN TIN</h3>
                        <div class="footer_index4-inputs">
                            <input type="text" placeholder="Nhập Email" class="footer_index4-input">
                            <span class="footer_index4-btn">Đăng ký</span>
                        </div>
                        <span class="footer_index4-messenger"></span>
                        <div class="footer_index4-icons">
                            <span class="footer_index4-icon"><i class="fa-brands fa-facebook"></i></span>
                            <span class="footer_index4-icon"><i class="fa-brands fa-instagram"></i></span>
                            <span class="footer_index4-icon"><i class="fa-brands fa-youtube"></i></span>
                            <span class="footer_index4-icon"><i class="fa-brands fa-tiktok"></i></span>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        
       <button class="btn_index4-scroll">
          <i class="fa-solid fa-circle-chevron-up"></i>   
       </button>
       
    </div>
    <div class="modal">
        <div class="modal_overlay"></div>
        <div class="modal_body">
            <div class="modal_cover">
                <div class="gird wide">
                    <div class="modal_search">
                        <div class="modal_search-logo">
                            <img class="header_navbar-img" src="//theme.hstatic.net/200000696635/1001034053/14/logo.png?v=393" alt="logo EGA Men Style" width="134" height="45">
                        </div>
                        <div class="modal_search-product">
                                <input type="text" name="" placeholder="Tìm kiếm sản phẩm" class="modal_search-input">
                                <span class="modal_search-btn">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </span>
                        </div>
                        <ul class="modal_search-suggest">
                            <li class="modal_search-suggest-item">áo sơ mi</li>
                        </ul>
                        <div class="modal_search-list">
                            <span class="modal_search-icon">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </span>
                            <span class="modal_search-icon modal_search-hover">
                                <i class="fa-solid fa-user"></i>
                                <ul class="modal_search-form">
                                    <li class="modal_search-item">Đăng nhập</li>
                                    <li class="modal_search-item">Đăng ký</li>
                                </ul>
                            </span>
                            <span class="modal_search-icon">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal3">
        <div class="modal3_overlay"></div>
         <div class="modal3_body">
                <div class="modal3_menu-header">
                    <span class="modal3_menu-user">
                        <i class="fa-solid fa-user"></i>
                    </span>
                    <div class="modal3_menu-user-success">
                        <div class="modal3_menu-user-photo">
                            <img src="https://anhdep123.com/wp-content/uploads/2021/05/avatar-trang-dep.jpg" alt="" class="modal3_menu-user-img">
                        </div>
                        <h4 class="modal3_menu-user-name">minh minh</h4>
                    </div>
                    <div class="modal3_menu-cover">
                        <h3 class="modal3_menu-heading">
                           Tài khoản
                       </h3>
                       <p class="modal3_menu-description">
                         <a href="../login/login.html" class="modal3_menu-description-link">
                             Đăng nhập
                         </a>
                       </p>
                    </div>   
                </div>
                <ul class="modal3_menu-list">
                    <a href="../home/index.html" class="modal3_menu-link">
                        <li class="modal3_menu-item">
                            Trang chủ
                        </li>
                    </a>
                    <a href="../product/product.html" class="modal3_menu-link">
                        <li class="modal3_menu-item">
                            Sản phẩm
                        </li>
                    </a>
                    <a href="../discount/discount.html" class="modal3_menu-link">
                        <li class="modal3_menu-item">
                            Chương trình khuyến mãi
                        </li>
                    </a>
                    <a href="../address/address.html" class="modal3_menu-link">
                        <li class="modal3_menu-item">
                            Hệ thống cửa hàng
                        </li>
                    </a>
                    <a href="../introduce/introduce.html" class="modal3_menu-link">
                        <li class="modal3_menu-item">
                            Giới thiệu
                        </li>
                    </a>
                </ul>
         </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="./js/search4.js"></script>
    <script src="./js/find4.js"></script>
    <script src="./js/email4.js"></script>
    <script src="./js/menuMT4.js"></script>
    <script src="./js/search4.js"></script>
    <script src="./js/scroll4.js"></script>
    <script src="./js/cartmore.js"></script>
    <script src="./js/users.js"></script>
    <script src="./js/item.js"></script>
    <script src="./js/main.js"></script>
    <script src="./js/loader.js"></script>
</body>
</html>