<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop thời trang nam</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/order.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/gird.css">
    <link rel="stylesheet" href="./css/reponsive.css">
</head>
<body class="preloading">
    <div class="loader">
        <span class="loader-icon">
            <i class="fa-solid fa-spinner"></i>
        </span>
    </div>
    <div class="wrapper">
        <header>
            <div class="gird wide">
                <div class="header-navbar">
                    <div class="header-navbar-menu">
                        <i class="fa-solid fa-bars"></i>
                    </div>

                    <div class="header-navbar-logo">
                        <img class="header-navbar-img" src="//theme.hstatic.net/200000696635/1001034053/14/logo.png?v=393" alt="logo EGA Men Style" width="134" height="45">
                    </div>
                    <ul class="header-navbar-list">
                        <li class="header-navbar-item">
                            <a href="../home/index.html" class="header-navbar-item-link">
                                Trang chủ
                        </li>
                        <li class="header-navbar-item">
                            <a href="../product/product.html" class="header-navbar-item-link">
                                Sản phẩm
                            </a>
                        </li>
                        <li class="header-navbar-item">
                            <span class="header-navbar-item-icon">
                                <i class="fa-solid fa-bolt"></i>
                            </span>
                            <a href="../discount/discount.html" class="header-navbar-item-link">
                               Chương trình khuyến mại
                            </a>
                        </li>
                        <li class="header-navbar-item">
                            <a href="../address/address.html" class="header-navbar-item-link">
                                Hệ Thống cửa Hàng
                            </a>
                        </li>
                        <li class="header-navbar-item">
                            <a href="../introduce/introduce.html" class="header-navbar-item-link">
                                Giới thiệu
                            </a>
                        </li>
                        <div class="header-navbar-line"></div>
                    </ul>
                    <div class="header-navbar-icon">
                        <span class="header-navbar-search">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </span>
                        <span class="header-navbar-user">
                            <i class="fa-solid fa-user"></i>
                            <ul class="header-navbar-form">
                                <li class="header-navbar-link">
                                    <a href="../login/login.html" class="login_link">
                                        Đăng nhập
                                    </a>
                                </li>
                                <li class="header-navbar-link">
                                    <a href="../register/register.html" class="register_link">
                                        Đăng ký
                                    </a>
                                </li>
                            </ul>
                        </span>
                        <div class="header_users">
                            <img src="https://anhdep123.com/wp-content/uploads/2021/05/avatar-trang-dep.jpg" alt="" class="header_users-img">
                            <div class="header_users-information">
                                <div class="header_users-header">
                                    <div class="header_users-photo">
                                        <img src="https://anhdep123.com/wp-content/uploads/2021/05/avatar-trang-dep.jpg" alt="" class="header_users-img2">
                                    </div>
                                    <h4 class="header_users-name">minh minh</h4>
                                </div>
                                <ul class="header_users-list">
                                    <a href="../orderPlaced/orderPlaced.html" class="header_users-item-link">
                                        <li class="header_users-item">
                                             Đơn hàng của bạn
                                        </li>
                                    </a>
                                   <li class="header_users-item header_users-exit">Đăng xuất</li>
                                </ul>
                            </div>
                        </div>
                        <span class="header-navbar-cart">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <span class="cart-item-count">0</span>
                            <div class="cart-more">
                                <div class="cart-more-heading">
                                    Sản phẩm đã thêm
                                </div>
                                <div class="cart-more-body">
                                   
                                </div>
                                <a href="../cart/cart.html" class="car-more-link">
                                    <button class="btn-cart">Xem giỏ hàng</button>
                                </a>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="content">
             <div class="gird wdie">
                <div class="row">
                    <div class="col l-3 m-12 c-12">
                        <div class="content_project">
                            <div class="content_project-photo">
                                <img src="https://anhdep123.com/wp-content/uploads/2021/05/avatar-trang-dep.jpg
                                " alt="" class="content_project-img">
                            </div>
                            <span class="content_project-icon">
                                <i class="fa-solid fa-user"></i>
                            </span>
                            <h4 class="content_project-name">
                               Chưa đăng nhập
                            </h4>
                        </div>
                    </div>

                    <div class="col l-9 m-12 c-12">
                                
                    </div>
                </div>
                <div class="content_message">
                    <div class="content_message-outside">
                        <div class="content_message-cover">
                            <h3 class="content_message-heading">
                                Chat
                            </h3>
                            <span class="content_message-icon">
                                <i class="fa-brands fa-facebook-messenger"></i>
                            </span>
                        </div>
                    </div>
                    <div class="content_message-chat">
                        <div class="content_message-header">
                            <h3 class="content_message-item">
                                Chat
                            </h3>
                            <span class="content_message-chat-icon">
                                <i class="fa-solid fa-x"></i>
                            </span>
                        </div>
                        <div class="content_message-body">
                            <div class="content_message-body-heading">
                                <p class="content_message-shop">
                                    Ngáo store
                                </p>
                                <p class="content_message-activate">
                                    Đang hoạt động
                                </p>
                            </div>
                            <div class="content_message-text">
                                 <div class="content_message-text-cover">
                                    
                                 </div>
                                <div class="content_message-text-person">

                                </div>
                            </div>
                        </div>
                        <div class="content_message-footer">
                            <input type="text" placeholder="nhập tin nhắn" class="content_message-footer-input">
                            <span class="content_message-footer-icon">
                                <i class="fa-solid fa-paper-plane"></i>
                            </span>
                        </div>

                    </div>                  
                </div>
             </div>
            </div>
            <div class="content2">
                <div class="content2_indexing">
                    <div class="grid wide">
                        <span class="content2_indexing-item">Trang chủ</span>
                        <span class="content2_indexing-item">/Tài khoản</span>
                        <span class="content2_indexing-item content2_indexing-item--color">/Sản phẩm</span>
                    </div>
                </div>
                <div class="grid wide">
                    <div class="row">
                        <div class="col l-2-4 m-4 c-12 content2_active" type="Áo sơ mi kẻ">
                            <div class="content2_product">
                                <div class="content2_product-imgs">
                                    <img src="https://theme.hstatic.net/200000696635/1001034053/14/frame_2.png?v=394" alt="" class="content2_product-img1">
                                    <img src="https://product.hstatic.net/200000696635/product/frame_74_e16dcdce7c2a41d286587294ba0d123c_medium.png" alt="" class="content2_product-img2">
                                </div>
                                <div class="content2_product-information">
                                    <span class="content2_product-other">
                                        khác
                                    </span>
                                    <span class="content2_product-heart">
                                        <i class="fa-solid fa-heart"></i>
                                    </span>
                                    <h3 class="content2_product-name">
                                        Áo sơ mi kẻ sọc - blue
                                    </h3>
                                    <p class="content2_product-price">
                                        499,000₫
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col l-2-4 m-4 c-12 content2_active" type="Quần dài nam">
                            <div class="content2_product">
                                <div class="content2_product-imgs">
                                    <img src="https://theme.hstatic.net/200000696635/1001034053/14/frame_2.png?v=394" alt="" class="content2_product-img1">
                                    <img src="https://product.hstatic.net/200000696635/product/frame_62_d41e2c3c7f3f47289f6dac45b3af0f0c_medium.png" alt="" class="content2_product-img2">
                                </div>
                                <div class="content2_product-information">
                                    <span class="content2_product-other">
                                        khác
                                    </span>
                                    <span class="content2_product-heart">
                                        <i class="fa-solid fa-heart"></i>
                                    </span>
                                    <h3 class="content2_product-name">
                                        Quần dài nam - Brown
                                    </h3>
                                    <p class="content2_product-price">
                                        499,000₫
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col l-2-4 m-4 c-12 content2_active" type="Áo khoác nam">
                            <div class="content2_product">
                                <div class="content2_product-imgs">
                                    <img src="https://theme.hstatic.net/200000696635/1001034053/14/frame_2.png?v=394" alt="" class="content2_product-img1">
                                    <img src="https://product.hstatic.net/200000696635/product/frame_56_5e2199fb082041d3ab669075a49c7665_medium.png" alt="" class="content2_product-img2">
                                </div>
                                <div class="content2_product-information">
                                    <span class="content2_product-other">
                                        khác
                                    </span>
                                    <span class="content2_product-heart">
                                        <i class="fa-solid fa-heart"></i>
                                    </span>
                                    <h3 class="content2_product-name">
                                        Áo khoác nam - Grey
                                    </h3>
                                    <p class="content2_product-price">
                                        799,000₫
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col l-2-4 m-4 c-12 content2_active" type="Quần ngắn nam kẻ">
                            <div class="content2_product">
                                <div class="content2_product-imgs">
                                    <img src="https://theme.hstatic.net/200000696635/1001034053/14/frame_2.png?v=394" alt="" class="content2_product-img1">
                                    <img src="https://product.hstatic.net/200000696635/product/frame_71_aa2edc2c58d64d12b573c5833d129f2f_medium.png" alt="" class="content2_product-img2">
                                </div>
                                <div class="content2_product-information">
                                    <span class="content2_product-other">
                                        khác
                                    </span>
                                    <span class="content2_product-heart">
                                        <i class="fa-solid fa-heart"></i>
                                    </span>
                                    <h3 class="content2_product-name">
                                        Quần ngắn nam - Brown
                                    </h3>
                                    <p class="content2_product-price">
                                        499,000₫
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col l-2-4 m-4 c-12 content2_active" type="Áo sơ mi kẻ">
                            <div class="content2_product">
                                <div class="content2_product-imgs">
                                    <img src="https://theme.hstatic.net/200000696635/1001034053/14/frame_2.png?v=394" alt="" class="content2_product-img1">
                                    <img src="https://product.hstatic.net/200000696635/product/frame_64_2e43ad9070f041aa8d80f8b47ed34876_medium.png" alt="" class="content2_product-img2">
                                </div>
                                <div class="content2_product-information">
                                    <span class="content2_product-other">
                                        khác
                                    </span>
                                    <span class="content2_product-heart">
                                        <i class="fa-solid fa-heart"></i>
                                    </span>
                                    <h3 class="content2_product-name">
                                        Áo sơ mi kẻ sọc - White
                                    </h3>
                                    <p class="content2_product-price">
                                        499,000₫
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col l-2-4 m-4 c-12 content2_active" type="Áo sơ mi kẻ">
                            <div class="content2_product">
                                <div class="content2_product-imgs">
                                    <img src="https://theme.hstatic.net/200000696635/1001034053/14/frame_2.png?v=394" alt="" class="content2_product-img1">
                                    <img src="https://product.hstatic.net/200000696635/product/frame_66_d1372db2da6745bb9263cc35586b4fda_medium.png" alt="" class="content2_product-img2">
                                </div>
                                <div class="content2_product-information">
                                    <span class="content2_product-other">
                                        khác
                                    </span>
                                    <span class="content2_product-heart">
                                        <i class="fa-solid fa-heart"></i>
                                    </span>
                                    <h3 class="content2_product-name">
                                        Áo sơ mi kẻ sọc - Pink
                                    </h3>
                                    <p class="content2_product-price">
                                        499,000₫
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col l-2-4 m-4 c-12 content2_active" type="Quần ngắn nam">
                            <div class="content2_product">
                                <div class="content2_product-imgs">
                                    <img src="https://theme.hstatic.net/200000696635/1001034053/14/frame_2.png?v=394" alt="" class="content2_product-img1">
                                    <img src="https://product.hstatic.net/200000696635/product/frame_69_a753cbc9334c497a9f756abe4b321992_medium.png" alt="" class="content2_product-img2">
                                </div>
                                <div class="content2_product-information">
                                    <span class="content2_product-other">
                                        khác
                                    </span>
                                    <span class="content2_product-heart">
                                        <i class="fa-solid fa-heart"></i>
                                    </span>
                                    <h3 class="content2_product-name">
                                        Quần ngắn nam - Brown
                                    </h3>
                                    <p class="content2_product-price">
                                        599,000₫
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col l-2-4 m-4 c-12 content2_active" type="Quần dài nam">
                            <div class="content2_product">
                                <div class="content2_product-imgs">
                                    <img src="https://theme.hstatic.net/200000696635/1001034053/14/frame_2.png?v=394" alt="" class="content2_product-img1">
                                    <img src="https://product.hstatic.net/200000696635/product/frame_63_8bd6284d4be94019b32a991cc12d8554_medium.png" alt="" class="content2_product-img2">
                                </div>
                                <div class="content2_product-information">
                                    <span class="content2_product-other">
                                        khác
                                    </span>
                                    <span class="content2_product-heart">
                                        <i class="fa-solid fa-heart"></i>
                                    </span>
                                    <h3 class="content2_product-name">
                                        Quần dài nam VERA - Grey
                                    </h3>
                                    <p class="content2_product-price">
                                        799,000₫
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col l-2-4 m-4 c-12 content2_active" type="Áo thun nam">
                            <div class="content2_product">
                                <div class="content2_product-imgs">
                                    <img src="https://theme.hstatic.net/200000696635/1001034053/14/frame_2.png?v=394" alt="" class="content2_product-img1">
                                    <img src="https://product.hstatic.net/200000696635/product/frame_13_1ebea68b4c724dcea33c65117c5c9c8d_medium.png" alt="" class="content2_product-img2">
                                </div>
                                <div class="content2_product-information">
                                    <span class="content2_product-other">
                                        khác
                                    </span>
                                    <span class="content2_product-heart">
                                        <i class="fa-solid fa-heart"></i>
                                    </span>
                                    <h3 class="content2_product-name">
                                        Áo thun nam - Brown
                                    </h3>
                                    <p class="content2_product-price">
                                        499,000₫
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col l-2-4 m-4 c-12 content2_active" type="Áo thun nam">
                            <div class="content2_product">
                                <div class="content2_product-imgs">
                                    <img src="https://theme.hstatic.net/200000696635/1001034053/14/frame_2.png?v=394" alt="" class="content2_product-img1">
                                    <img src="https://product.hstatic.net/200000696635/product/frame_14_b72c7539500344b5b76513f5de74c83c_medium.png" alt="" class="content2_product-img2">
                                </div>
                                <div class="content2_product-information">
                                    <span class="content2_product-other">
                                        khác
                                    </span>
                                    <span class="content2_product-heart">
                                        <i class="fa-solid fa-heart"></i>
                                    </span>
                                    <h3 class="content2_product-name">
                                        Áo thun nam - green
                                    </h3>
                                    <p class="content2_product-price">
                                        499,000₫
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col l-2-4 m-4 c-12 content2_active" type="Quần jeans">
                            <div class="content2_product">
                                <div class="content2_product-imgs">
                                    <img src="https://theme.hstatic.net/200000696635/1001034053/14/frame_2.png?v=394" alt="" class="content2_product-img1">
                                    <img src="https://product.hstatic.net/200000696635/product/frame_76_3f5b889e8a2b4d54b910ed464dc22974_medium.png" alt="" class="content2_product-img2">
                                </div>
                                <div class="content2_product-information">
                                    <span class="content2_product-other">
                                        khác
                                    </span>
                                    <span class="content2_product-heart">
                                        <i class="fa-solid fa-heart"></i>
                                    </span>
                                    <h3 class="content2_product-name">
                                        Quần jeans nam FIT - xanh rêu
                                    </h3>
                                    <p class="content2_product-price">
                                        799,000₫
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col l-2-4 m-4 c-12 content2_active" type="Áo thun nam">
                            <div class="content2_product">
                                <div class="content2_product-imgs">
                                    <img src="https://theme.hstatic.net/200000696635/1001034053/14/frame_2.png?v=394" alt="" class="content2_product-img1">
                                    <img src="https://product.hstatic.net/200000696635/product/frame_12_1396f3eceb78463895c5fcb833a9c0fd_medium.png" alt="" class="content2_product-img2">
                                </div>
                                <div class="content2_product-information">
                                    <span class="content2_product-other">
                                        khác
                                    </span>
                                    <span class="content2_product-heart">
                                        <i class="fa-solid fa-heart"></i>
                                    </span>
                                    <h3 class="content2_product-name">
                                        Áo thun nam-black
                                    </h3>
                                    <p class="content2_product-price">
                                        499,000₫
                                    </p>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
        <div class="footer">
            <div class="gird wide">
                <div class="row">
                    <div class="col l-3 m-12 c-12 footer-text ">
                        <div class="footer-logo">
                            <img src="//theme.hstatic.net/200000696635/1001034053/14/logo-footer.png?v=394" alt="" class="footer-logo-img">
                        </div>
                        <ul class="footer-list">
                            <li class="footer-list-item">Địa chỉ: ngõ 177 , Phường Phúc Diễn, Bắc Từ niêm, Tp.Hà nội</li>
                            <li class="footer-list-item"> Số điện thoại: 19001393</li>
                            <li class="footer-list-item">Email: support@egany.com</li>
                            <li class="footer-list-item">© Bản quyền thuộc về EGANY | Cung cấp bởi Haravan</li>
                        </ul>
                    </div>

                    <div class="col l-3 m-12 c-12 footer-text ">
                        <h3 class="footer-heading">CHÍNH SÁCH</h3>
                        <ul class="footer-list">
                            <li class="footer-list-item">Giới thiệu</li>
                            <li class="footer-list-item">Hệ thống cửa hàng</li>
                            <li class="footer-list-item">Câu hỏi thường gặp</li>
                            <li class="footer-list-item">Gọi điện đặt hàng</li>
                        </ul>
                    </div>

                    <div class="col l-3 m-12 c-12 footer-text">
                        <h3 class="footer-heading">HỖ TRỢ KHÁCH HÀNG</h3>
                        <ul class="footer-list">
                            <li class="footer-list-item">Liên hệ</li>
                            <li class="footer-list-item">Chính sách bán hàng</li>
                            <li class="footer-list-item">Chính sách giao hàng</li>
                            <li class="footer-list-item">Chính sách đổi trả</li>
                        </ul>
                    </div>

                    <div class="col l-3 m-12 c-12 footer-text">
                        <h3 class="footer-heading">ĐĂNG KÝ NHẬN TIN</h3>
                        <div class="footer-inputs">
                            <input type="text" placeholder="Nhập Email" class="footer-input">
                            <span class="footer-btn">Đăng ký</span>
                        </div>
                        <span class="footer-messenger"></span>
                        <div class="footer-icons">
                            <span class="footer-icon"><i class="fa-brands fa-facebook"></i></span>
                            <span class="footer-icon"><i class="fa-brands fa-instagram"></i></span>
                            <span class="footer-icon"><i class="fa-brands fa-youtube"></i></span>
                            <span class="footer-icon"><i class="fa-brands fa-tiktok"></i></span>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        
       <button class="btn-scroll">
            <i class="fa-solid fa-circle-chevron-up"></i>
       </button>
       
    </div>
    <div class="modal">
        <div class="modal_overlay"></div>
        <div class="modal_body">
            <div class="modal_cover">
                <div class="gird wide">
                    <div class="modal_search">
                        <div class="modal_search-logo">
                            <img class="header-navbar-img" src="//theme.hstatic.net/200000696635/1001034053/14/logo.png?v=393" alt="logo EGA Men Style" width="134" height="45">
                        </div>
                        <div class="modal_search-product">
                                <input type="text" name="" placeholder="Tìm kiếm sản phẩm" class="modal_search-input">
                                <span class="modal_search-btn">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </span>
                        </div>
                        <ul class="modal_search-suggest">
                            <li class="modal_search-suggest-item">áo sơ mi</li>
                        </ul>
                        <div class="modal_search-list">
                            <span class="modal_search-icon">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </span>
                            <span class="modal_search-icon modal_search-hover">
                                <i class="fa-solid fa-user"></i>
                                <ul class="modal_search-form">
                                    <li class="modal_search-item">Đăng nhập</li>
                                    <li class="modal_search-item">Đăng ký</li>
                                </ul>
                            </span>
                            <span class="modal_search-icon">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal3">
        <div class="modal3_overlay"></div>
         <div class="modal3_body">
                <div class="modal3_menu-header">
                    <span class="modal3_menu-user">
                        <i class="fa-solid fa-user"></i>
                    </span>
                    <div class="modal3_menu-user-success">
                        <div class="modal3_menu-user-photo">
                            <img src="https://anhdep123.com/wp-content/uploads/2021/05/avatar-trang-dep.jpg" alt="" class="modal3_menu-user-img">
                        </div>
                        <h4 class="modal3_menu-user-name">minh minh</h4>
                    </div>
                    <div class="modal3_menu-cover">
                        <h3 class="modal3_menu-heading">
                           Tài khoản
                       </h3>
                       <p class="modal3_menu-description">
                         <a href="../login/login.html" class="modal3_menu-description-link">
                             Đăng nhập
                         </a>
                       </p>
                    </div>   
                </div>
                <ul class="modal3_menu-list">
                    <a href="../home/index.html" class="modal3_menu-link">
                        <li class="modal3_menu-item">
                            Trang chủ
                        </li>
                    </a>
                    <a href="../product/product.html" class="modal3_menu-link">
                        <li class="modal3_menu-item">
                            Sản phẩm
                        </li>
                    </a>
                    <a href="../discount/discount.html" class="modal3_menu-link">
                        <li class="modal3_menu-item">
                            Chương trình khuyến mãi
                        </li>
                    </a>
                    <a href="../address/address.html" class="modal3_menu-link">
                        <li class="modal3_menu-item">
                            Hệ thống cửa hàng
                        </li>
                    </a>
                    <a href="../introduce/introduce.html" class="modal3_menu-link">
                        <li class="modal3_menu-item">
                            Giới thiệu
                        </li>
                    </a>
                </ul>
         </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="./js/register.js"></script>
    <script src="./js/find.js"></script>
    <script src="./js/scroll.js"></script>
    <script src="./js/menuMT.js"></script>
    <script src="./js/email.js"></script>
    <script src="./js/cartmore.js"></script>
    <script src="./js/users.js"></script>
    <script src="./js/item.js"></script>
    <script src="./js/search.js"></script>
    <script src="./js/message.js"></script>
    <script src="./js/handle.js"></script>
    <script src="./js/order.js"></script>
    <script src="./js/main.js"></script>
    <script src="./js/loader.js"></script>
</body>
</html>