/* tablet & mobile */
@media (max-width: 1023px) { 
    /* header */
    .header_index7-navbar-list {
      display: none;
    }
  
    .header_index7-navbar-menu {
      display: block;
    }

    .header_index7-navbar-logo {
      padding-left: 32px;
      margin-top: 12px;
    }
  
    .header_index7-navbar-search {
      padding-right: 12px;
    }
  
    .header_index7-navbar-user {
      padding-right: 12px;
    }
    .header_index7-navbar-form {
       right: -30px;
    }
  
    /* modal */
    .modal_search-logo  {
      display: none;
    }
    .modal_search-list {
      display: none;
    } 
  
    .content_body-product-none {
      display: none;
    }
  
  }
  
  /* tablet */
  @media (min-width: 740px) and (max-width: 1023px) {
      .hidden-tablet {
          display: none;
      }
      .header_index7-navbar-menu {
          font-size: 2rem;
      }
      .header_index7-navbar-icon {
          font-size: 2rem;
      }
      .header_index7-navbar-logo {
          font-size: 2rem;
      }
      .header_users-information {
        right: 170px;
      }

      /* content */
      .content_index7-map {
        text-align: center;
      }

      .content_index7-address {
        margin-top: 24px;
      }

      .content_index7-information h2 {
        font-size: 1.8rem;
        margin-left: 12px;
    }
    .content2_product-heart {
      float: right;
    }
      
      /* footer */
      .footer_index7--text {
        margin-top: 12px;
        text-align: center;
      }
      .footer_index7-inputs {
        width: 95%;
      }
      .footer_index7-input {
        width: 84%;
      }
  
      .footer_index7-icons {
        margin-bottom: 32px;
        margin-top: 14px;
      }

      /* modal */
      .modal_search-suggest {
        left: 14%;
     }
  
  }
  
  /* mobile */
  @media (max-width: 739px)  {
     /* header */
     .header_users-information {
      right: 42px;
     }
    .cart-more {
      width: 300px;
      margin-right: 12px;
    }
    .cart-more::after {
      right: 14px;
    }
    /* content */
    .content_index7-map {
      width: 50%;
      margin-left: 12px;
    }

    iframe {
      width: 390px;

    }

    .content2_product-imgs {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  
    .content2_product-information {
      margin-left: 42px;
    }
  
    .content2_product-other {
       font-size: 1.6rem;    
    }
  
    .content2_product-heart {
       font-size: 1.6rem;
       float: right;
       margin-right: 42px;
    }
  
    .content2_product-name {
       font-size: 1.6rem;
    }
  
    .content2_product-price {
       font-size: 1.6rem;
    }
      /* footer */
      .footer_index7-text {
        padding-left: 22px;
      }
      .footer_index7-inputs {
        height: 52px;
        width: 80%;
      }
  
      .footer_index7-input {
        width: 75%;
      }
      
      .footer_index7-btn {
         padding: 4px 12px;
         font-size: 1.4rem;
         line-height: 42px;
      }
  
      .footer_index7-messenger {
        margin-left: 0;
      }
  
      .footer_index7-icons {
         padding-bottom: 32px;
         margin-top: 32px;
      }
  
  
      .footer_index7-icon {
        font-size: 2rem;
      }
  
      .btn_index7-scroll {
        margin-bottom: 50px;
      }
  
      .modal_search-suggest {
        width: 320px;
        left: 14%;
      }
    
  }
  
  
  