.loader {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  z-index: 1000;
  overflow: hidden;
}

.loader-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 40px;
  color: yellowgreen;
  animation: Around 1s infinite linear;
}

.wrapper {
    position: relative;
    background-color: #ccccccc4;
}
  
header { 
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 72px;
  background-color: var(--white-color);
  box-shadow: 0 5px 5px #ccc;
}

.sticky {
  background-color: #ffffffea;
  animation: slide-down 0.8s ease-in-out;
}
  
.header-navbar {
      display: flex;
      justify-content: space-around;
      line-height: 72px;
      cursor: pointer;
}
.header-navbar-menu {
  font-size: 1.8rem;
  display: none;
}
  

.header-navbar-logo {
     margin-top: 8px;
}
  

.header-navbar-list {
  display: flex;
}
  
.header-navbar-item {
     list-style: none;
     margin-left: 40px;
     font-size: 1.6rem;
     position: relative;
     overflow: hidden;
}
  
.header-navbar-item::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 30px;
    width: 100%;
    height: 2px;
    background-color: transparent;
    border-radius: 15px;
}
  
.header-navbar-item-link {
    text-decoration: none;
    color: var(--black-color);
    border: none;
}
  

  
.header-navbar-item-icon {
     animation: RunIcon 0.5s ease-in infinite;
}
  

.header-navbar-item:hover::after {
    background-color: #c23564;
    animation: RunLine 0.4s linear;
}
  

.header-navbar-icon {
    font-size: 1.6rem;
    display: flex;
}

.header-navbar-search {
    margin-left: 12px;
}

.header-navbar-user {
    margin-left: 22px;
      position: relative;
}
  
.header-navbar-user:hover .header-navbar-form {
    display: block;
}
  
.header-navbar-form {
    position: absolute;
    z-index: 2;
    background-color: var(--white-color);
    top: 28px;
    right: -42px;
    width: 100px;
    margin-top: 32px;
    background-color: #000000be;
    color: var(--white-color);
    height: 70px;
    border-radius: 6px;
    display: none;
}

.header-navbar-form::after {
   content: '';
    position: absolute;
    right: 32px;
    top: -30px;
    border-style: solid;
    border-width: 16px;
    border-color: transparent transparent #000000be transparent;
}
  
.header-navbar-link {
      font-size: 1.4rem;
      height: 30px;
      padding: 8px;
      line-height: 30px;
      list-style: none;
}

.login_link {
  text-decoration: none;
  color: var(--white-color);
}

.register_link {
  text-decoration: none;
  color: var(--white-color);
}

.header_users {
  margin-top: 6px;
  margin-right: 8px;
  margin-left: 26px;
  display: none;
}


.header_users-img {
  width: 24px;
  border-radius: 50%;
  position: relative;
}

.header_users-information {
  position: absolute;
  background-color: var(--white-color);
  width: 250px;
  height: 200px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  right: 128px;
  top: 70px;
  display: none;
}

.header_users-img:hover + .header_users-information,
.header_users-information:hover{
  display: block;
}

.header_users-information::after {
  position: absolute;
  content: '';
  border-color: transparent transparent #ccccccc4 transparent ;
  border-width: 16px;
  border-style: solid;
  top: -34px;
  right: 20px
}

.header_users-information::before {
  position: absolute;
  content: '';
  border-color: transparent;
  border-width: 20px;
  border-style: solid;
  top: -20px;
  right: 20px
}

.header_users-header {
  display: flex;
  padding-left: 12px;
  border-bottom: 1px solid #ccc;
}

.header_users-img2 {
  width: 24px;
  border-radius: 50%;
  margin-top: 18px;
}

.header_users-name {
  margin-left: 12px;
}


.header_users-item {
  list-style: none;
  padding-left: 12px;
  height: 42px;
  line-height: 42px;
  margin-top: 12px;
}

.header_users-item-link {
  text-decoration: none;
  color: var(--black-color);
}
.header_users-item:hover {
  color: var(--white-color);
  background-color: var(--black-color);
}

.header-navbar-cart {
      margin-left: 22px;
      position: relative;
}
.header-navbar-cart:hover .cart-more {
    display: block;
}
  
.cart-more {
      position: absolute;
      background-color: var(--white-color);
      width: 500px;
      top: 60px;
      right: -32px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
      border-radius: 3px;
      display: none;
} 
  
.cart-more::before {
      position: absolute;
      content: "";
      border-width: 20px;
      border-style: solid;
      border-color: transparent;
      right: 26px;
      top: -30px;
}
  
.cart-more::after {
      position: absolute;
      content: "";
      border-width: 15px;
      border-style: solid;
      border-color: transparent transparent #ccccccb5 transparent;
      right: 26px;
      top: -30px;
}
  
.cart-more-heading {
    font-weight: 300;
    margin-left: 12px;
}
  
.cart-more-body {
  margin-bottom: 12px;
  height: 300px;
  overflow: auto;
}

.cart-item {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.cart-more-text {
    text-align: center;
}
  
  
.cart-more-photo {
      width: 54px;
      margin-top: 22px;
      margin-left: 12px;
} 
      
.cart-more-img {
      width: 100%;
      border: 1px solid #ccc;
} 
  
.cart-more-information {
     margin-left: 12px;
     line-height: 1.7;
}
  
.cart-more-name {
    display: block;
} 
.btn-cart {
    padding: 8px;
    border: none;
    background-color: var(--black-color);
    color: var(--white-color);
    border-radius: 3px;
    margin-left: 12px;
    cursor: pointer;
    margin-left: 195px;
}
.btn-cart:hover {
    background-color: rgba(0, 0, 0, 0.735);
}

.cart-item-count {
    position: absolute;
    background-color: #c23564;
    line-height: 1.6rem;
    font-size: 1.2rem;
    padding: 1px 5px;
    border-radius: 45%;
    top: 14px;
    left: 12px;
    display: none;
 }
  /* container */
  .container {
    padding-top: 150px;
  }

  .content {
   
  }

.content_project {
  display: flex;
  align-items: center;
  border-bottom: 1px solid white;
  padding-bottom: 12px;
}

.content_project-icon {
  font-size: 1.6rem;
  color: #0077B5;
}

.content_project-photo {
  width: 44px;
  display: none;
}

.content_project-img {
  width: 100%;
  border-radius: 50%;
}

.content_project-name {
  margin-left: 12px;
  font-size: 1.6rem;
}

.no-product {
   margin-top: 22px;
   text-align: center;
   background-color: var(--white-color);
   border-radius: 3px;
   padding: 30px;
}

.no-product-img {
  width: 150px;
}

.no-buy {
  margin-top: 12px;
  font-size: 1.6rem;
  text-decoration: underline;
}

.content_orderPlaced {
  margin-bottom: 40px;
}

.content_orderPlaced-item {
  font-size: 1.6rem;
  background-color: var(--white-color);
  border-radius: 3px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  color: #cd3011;
}

.content_orderPlaced-address {
  margin-top: 22px;
  border: dashed 1.5px #cd3011;
  border-radius: 3px;
  height: 100px;
}

.content_orderPlaced-address-cover {
  display: flex;
  margin-left: 12px;
}

.content_orderPlaced-icon {
  margin-top: 12px;
  font-size: 1.4rem;
  display: block;
  color: var(--white-color);
}

.content_orderPlaced-address-item {
  font-size: 1.4rem;
  margin-left: 12px;
  margin-top: 12px;
  color:  #cd3011;
}


.content_orderPlaced-text {
  margin-top: 12px;
  margin-left: 22px;
  font-size: 1.4rem;
}

.content_orderPlaced-product {
  margin-top: 22px;
  background-color: var(--white-color);
}

.content_orderPlaced-cover {
  display: flex;
  align-items: center;
  height: 100px;
  border-bottom: 1px dashed #ee4d2d;
  padding-top: 8px;
}

.content_orderPlaced-photo {
  height: 60px;
  margin-left: 12px;
}

.content_orderPlaced-img {
  width: 100%;
  height: 100%;
}

.content_orderPlaced-information {
  margin-left: 22px;
  line-height: 2;
}

.content_orderPlaced-name {
  font-size: 1.4rem;
}

.content_orderPlaced-quantity {
  font-size: 1.4rem;
}

.content_orderPlaced-price {
  font-size: 1.4rem;
  margin-left: 50px;
}

.content_orderPlaced-abort {
  font-size: 1.6rem;
  margin-left: 50%;
  color: #cd3011;
  display: none;
}

.content_orderPlaced-btn {
 margin-top: 20px;
 float: right;
}

.repurchase-btn {
  font-size: 1.6rem;
  background-color: #ee4d2d;
  color: var(--white-color);
  border: none;
  border-radius: 3px;
  padding: 6px 12px;
}

.repurchase-btn-link {
  text-decoration: none;
  color: var(--white-color);
}

.cancel-btn {
  font-size: 1.6rem;
  background-color: #ee4d2d;
  color: var(--white-color);
  border: none;
  border-radius: 3px;
  padding: 6px 12px;
  margin-left: 22px;
}

.contact-btn {
  font-size: 1.6rem;
  background-color: #ee4d2d;
  color: var(--white-color);
  border: none;
  border-radius: 3px;
  padding: 6px 12px;
  margin-left: 22px;

}
.repurchase-btn:hover,
.cancel-btn:hover,
.contact-btn:hover {
  background-color: #ee4d2db8;
  cursor: pointer;
}

.content_message {
  position: relative;
  overflow: hidden;
}

.content_message-outside {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  right: 100px;
  bottom: 0;
}

.content_message-cover {
  margin-top: 50px;
  background-color: #F6F6F6;
  display: flex;
  align-items: center;
  height: 50px;
  width: 100px;
  padding-bottom: 46px;
  border-radius: 3px;
  cursor: pointer;
}

.content_message-icon {
  font-size: 3rem;
  margin-top: 50px;
  cursor: pointer;
  margin-left: 12px;
  color: #0077B5;
}

.content_message-heading {
  font-size: 2.6rem;
  font-size: initial;
  margin-top: 50px;
  padding-left: 9px;
  color: #0077B5;
  user-select: none;
}



.content_message-chat {
   margin-top: 12px;
   width: 500px;
   border-radius: 3px;
   display: none;
   position: fixed;
   right: 150px;
   top: 130px;
   animation: spread 0.6s ease;
}


.content_message-header {
  display: flex;
  justify-content: space-between;
  height: 42px;
  border-bottom: 1px solid #ccc;
  background-color: var(--white-color);
}

.content_message-item {
  font-size: 1.6rem;
  font-style: italic;
  margin-left: 12px;
  margin-top: 12px;
}

.content_message-chat-icon {
  font-size: 1.2rem;
  margin-right: 12px;
  margin-top: 12px;
}

.content_message-chat-icon:hover {
  cursor: pointer;
  color: #cd3011;
}

.content_message-body {
}

.content_message-body-heading {
  background-color: #81AACC;
  height: 46px;
}

.content_message-shop {
  font-size: 1.6rem;
  color: var(--white-color);
  font-style: italic;
  padding-left: 12px;
  padding-top: 4px;
}

.content_message-activate {
  font-size: 1.2rem;
  color: #ccc;
  font-style: italic;
  padding-left: 12px;
  padding-top: 4px;
}

.content_message-text {
  padding-top: 12px;
  height: 300px;
  overflow: auto;
  background-color: #ccc;
}

.content_message-text-default {
 display: flex;
 align-items: center;
 background-color: white;
 width: 50%;
 margin-left: 26%;
 height: 70px;
 border-radius: 3px;
}

.content_message-text-photo {
  height: 58px;
  margin-left: 12px;
}

.content_message-text-img {
 height: 100%;
 border-radius: 3px;
}

.content_message-text-description {
  margin-left: 12px;
  line-height: 2;
}

.content_message-text-Id {
  font-size: 1.2rem;
}

.content_message-text-total {
  font-size: 1.2rem;

}

.content_message-text-person {

}

.content_message-text-customer {
  margin-top: 32px;
  margin-left: 22px;
}

.content_message-customer-name {
  margin-left: 6px;
  margin-bottom: 6px;
  font-size: 1.2rem;
  color: #0077B5;
}

.content_message-customer-cluster {
  display: flex;
  align-items: center;
}

.content_message-customer-content {
  font-size: 1.4rem;
  background-color: var(--white-color);
  padding: 8px;
  border-radius: 8px;
  line-height: 1.5;
}

.content_message-dots {
  margin-left: 12px;
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
}

.content_message-dots:hover .content_message-dots-list {
  display: block;
}

.content_message-dots-list {
  background-color: var(--white-color);
  height: 40px;
  width: 60px;
  line-height: 40px;
  padding-left: 4px;
  border-radius: 3px;
  position: absolute;
  top: -40px;
  left: -6px;
  display: none;
}


.content_message-dots-list::after {
  content: "";
  position: absolute;
  border-width: 10px;
  border-color: white transparent transparent transparent;
  border-style: solid;
}

.content_message-owner-cluster {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 22px;
}


.content_message-dots-item {
  list-style: none;
  font-size: 1.4rem;
}

.content_message-dots-item:hover {
  color: #cd3011;
}


.content_message-text-owner {
  margin-top: 22px;
}

.content_message-owner-name {
  color: #0077B5;
  margin-left: 6px;
  margin-bottom: 6px;
  font-size: 1.2rem;
  display: flex;
  justify-content: flex-end;
  margin-right: 30%;
}

.content_message-owner-content {
  font-size: 1.4rem;
  background-color: var(--white-color);
  padding: 8px;
  width: 40%;
  border-radius: 8px;
  line-height: 1.5;
  margin-right: 22px;
  float: right;

}





.content_message-footer {
  background-color: var(--white-color);
}

.content_message-footer-input {
  width: 90%;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 12px;
}

.content_message-footer-icon {
  font-size: 1.4rem;
  cursor: pointer;
}

.content_message-footer-icon:hover {
  color: #ee4d2d;
}


  /* content2 */
  .content2 {
    margin-top: 100px;
    display: none;
   }
  .content2_indexing {
     margin-bottom: 50px;
     background-color: #F6F6F6;
     height: 30px;
     line-height: 30px;
  }
  .content2_indexing-item {
     font-size: 1.6rem;
     margin-left: 8px;
     color: #155BF6;
  }
   
  .content2_indexing-item--color {
     color: #ccc;
  }
   
  .content2_product {
     
  }
   
  .content2_product-imgs {
     position: relative;
     transition: transform 0.5s linear;
  }
  
  .content2_product-imgs:hover .content2_product-eye {
    display: block;
  }
  .content2_product-imgs:hover {
     transform: scale(0.9);
  }
   
  .content2_product-img1 {
     width: 100%;
     z-index: 2;
  }
  .content2_product-img2 {
     position: absolute;
     left: 50%;
     transform: translate(-50%);
     width: 90%;
     height: 90%;
     z-index: -1;
     object-fit: cover;
  }
  
  .content2_product-eye-link {
    color: var(--black-color);
  }
  
  .content2_product-eye {
    display: block;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
    background-color: var(--white-color);
    font-size: 1.6rem;
    padding: 10px 16px;
    border-radius: 3px;
    display: none;
  }
  
  .content2_product-eye:hover {
    background-color: #c23564;
    color: var(--white-color);
  }
   
  .content2_product-information {
      margin-top: 12px;
  }
  
  .content2_product-other {
     font-size: 1.4rem;
     user-select: none;
  }
   
   .content2_product-heart {
     font-size: 1.4rem;
     margin-left: 160px;
     cursor: pointer;
   }
   
  .content2_product-name {
     margin-top: 12px;
     font-size: 1.4rem;
  }
   
  .content2_product-price {
     margin-top: 12px;
     font-size: 1.4rem;
  }
  
  .content2_active {
    margin-top: 22px;
  }

  
  
/* footer */
  
.footer {
    margin-top: 50px;
    background-color: #81AACC;
}

  
.footer-logo {
    margin-top: 60px;
}
  
  
.footer-list {
    margin-top: 16px;
    line-height: 2;
    padding-bottom: 50px;
}
  
.footer-list-item {
     list-style: none;
     font-size: 1.6rem;
     color: var(--white-color);
}
.footer-list-item:hover {
    color: #155BF6;
}
  
.footer-heading {
    margin-top: 60px;
    font-size: 1.6rem;
    color: var(--white-color);
}
  
.footer-inputs {
    margin-top: 16px;
    border: 2px solid #ccc;
    height: 50px;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    background-color: var(--white-color);
}
  
.footer-input {
    padding-left: 6px;
    border: none;
    width: 67%;
    border-radius: 25px;
    outline: none;
}
  
.footer-btn {
    font-size: 1.6rem;
    color: var(--white-color);
    background-color: var(--black-color);
    border-radius: 25px;
    padding: 0 16px;
    line-height: 3;
}
  
.footer-messenger {
    display: block;
    margin-top: 12px;
    margin-left: 24px;
    font-size: 1.4rem;
    color: red;
}
  
.footer-btn:hover {
    background-color: rgba(255, 0, 0, 0.6);
    cursor: pointer;
}
  
.footer-icons {
    margin-top: 16px;
    display: flex;
    justify-content: space-around;
}
  
.footer-icon {
    font-size: 3rem;
    display: block;
}
  
.footer-icon:hover {
    color: rgba(0, 0, 0, 0.635);
}

.btn-scroll {
    position: fixed;
    right: 30px;
    bottom: 30px;
    font-size: 40px;
    animation:  runModal 1s ease-in;
    display: none;
    background-color: transparent;
    border: none;
}

  .btn-scroll:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.774);
  }
  
  
  