/* tablet and mobile */
@media (max-width: 1039px) {
    /* header */

    .header-navbar-logo {
        margin-left: 40px;
        margin-top: 14px;
    }
    .header-navbar-menu {
        display: block;
        font-size: 2rem;
        margin-top: 4px;
    }
      
    .header-navbar-list {
        display: none;
    }
    /* modal */
    .modal_search-list {
        display: none;
    }
    .modal_search-logo {
        display: none;
    }
    
    /* footer */
    .footer9-icons {
        margin-bottom: 32px;
    }
}
/* tablet */
@media (min-width: 740px) and (max-width: 1039px) {
    /* header */
    .header-navbar-menu {
        font-size: 2rem;
    }
    .header-navbar-icon {
        font-size: 2rem;
    }
    .header-navbar-logo {
        font-size: 2rem;
    }
    .header_users-information {
      right: 170px;
    }
    .cart-more {
        margin-top: 4px;
    }
    /* content */
     .content_message-chat {
       top: 57%;
     }
    /* footer */
    .footer-index0-margin {
        margin-left: 32px;
    }
    
    .footer-input {
        width: 85%;
        
    }
    /* modal */
    .modal_search-suggest {
        left: 12%;
     }
}

/* mobile */
@media (max-width: 739px) {
    /* header */
    .cart-more {
        width: 300px;
        margin-right: 16px;
        margin-top: 4px;
    }

    .cart-more::after {
        right: 10px;
    }

    .header_users-information {
        right: 42px;
    }
     
    /* content */
    .register_app-facebook {
        padding: 8px 40px ;
    }
    .register_app-google {
        padding: 8px 48px;
    }

    .content_message-chat {
        top: 34%;
        width: 350px;
        right: 18%;
    }
    .content2_product-imgs {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
      }
    
      .content2_product-information {
        margin-left: 42px;
      }
    
      .content2_product-other {
         font-size: 1.6rem;    
      }
    
      .content2_product-heart {
         font-size: 1.6rem;
         float: right;
         margin-right: 42px;
      }
    
      .content2_product-name {
         font-size: 1.6rem;
      }
    
      .content2_product-price {
         font-size: 1.6rem;
      }

    .content_orderPlaced-photo {
       height: 62px;    
    }

     .content_orderPlaced-img {
        height: 100%;
    }

    .content_orderPlaced-price {
        margin-left: 22px;
    }

    .content_orderPlaced-abort {
        position: absolute;
        right: 4px;
    }

    .content_message-chat {
        top: 240px;
    }

    /* footer */
    .footer-text {
        padding-left: 12px;
    }
    .footer-inputs {
        height: 40px;
        width: 80%;
    }

    .footer-input {
        width: 79%;
    }
    
    .footer-btn{
        padding: 4px 8px;
        font-size: 1.4rem;
        line-height: 28px;
    }

    .footer-messenger {
        margin-left: 0;
    }

    .footer-icons {
        padding-bottom: 32px;
        margin-top: 32px;
    }


    .footer-icon {
        font-size: 2rem;
    }

    .btn-scroll {
       margin-bottom: 50px;
    }

    .modal4_body-cover {
        width: 400px;
        margin-top: 70px;
    }

    .modal_search-suggest {
        width: 320px;
        left: 14%;
    }

    .modal_search-product {
        width: 90%;
    }
}