.loader {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    z-index: 1000;
    overflow: hidden;
}
  
.loader-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 40px;
    color: yellowgreen;
    animation: Around 1s infinite linear; 
}

.wrapper_index {
    position: relative;
}
  
header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    height: 72px;
    background-color: var(--white-color);
    box-shadow: 0 5px 5px #ccc;
}

.sticky {
    background-color: #ffffffea;
    animation: slide-down 0.8s ease-in-out;
  }
  
.header_index-navbar {
      display: flex;
      justify-content: space-around;
      line-height: 72px;
      cursor: pointer;
}
.header_index-navbar-menu {
  font-size: 1.8rem;
    display: none;
}
  

.header_index-navbar-logo {
     margin-top: 8px;
}
  
.header_index-navbar-img {
     
}

.header_index-navbar-list {
  display: flex;
}
  
.header_index-navbar-item {
     list-style: none;
     margin-left: 40px;
     font-size: 1.6rem;
     position: relative;
     overflow: hidden;
}
  
.header_index-navbar-item::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 30px;
    width: 100%;
    height: 2px;
    background-color: transparent;
    border-radius: 15px;
}
  
.header_index-navbar-item-link {
    text-decoration: none;
    color: var(--black-color);
    border: none;
}
  

  
.header_index-navbar-item-icon {
     animation: RunIcon 0.5s ease-in infinite;
}
  

.header_index-navbar-item:hover::after {
    background-color: #c23564;
    animation: RunLine 0.4s linear;
}
  

.header_index-navbar-icon {
    font-size: 1.6rem;
    display: flex;
}

.header_index-navbar-search {
    margin-left: 12px;
}

.header_index-navbar-user {
    margin-left: 12px;
      position: relative;
}
  
.header_index-navbar-user:hover .header_index-navbar-form {
    display: block;
}
  
.header_index-navbar-form {
    position: absolute;
    z-index: 2;
    background-color: var(--white-color);
    top: 28px;
    right: -42px;
    width: 100px;
    margin-top: 32px;
    background-color: #000000be;
    color: var(--white-color);
    height: 70px;
    border-radius: 6px;
    display: none;
}

.header_index-navbar-form::after {
  content: '';
    position: absolute;
    right: 32px;
    top: -30px;
    border-style: solid;
    border-width: 16px;
    border-color: transparent transparent #000000be transparent;
}
  
.header_index-navbar-link {
      font-size: 1.4rem;
      height: 30px;
      padding: 8px;
      line-height: 30px;
      list-style: none;
}

.login_link {
    text-decoration: none;
    color: var(--white-color);
}
  
.register_link {
    text-decoration: none;
   color: var(--white-color);
}
.header_users {
    margin-top: 6px;
    margin-right: 8px;
    margin-left: 18px;
    display: none;
}
  
  
.header_users-img {
    width: 24px;
    border-radius: 50%;
    position: relative;
}
  
.header_users-information {
    position: absolute;
    background-color: var(--white-color);
    width: 250px;
    height: 200px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    border-radius: 3px;
    right: 206px;
    top: 60px;
    display: none;
}
  
.header_users-img:hover + .header_users-information,
.header_users-information:hover{
    display: block;
}
  
.header_users-information::after {
    position: absolute;
    content: '';
    border-color: transparent transparent #ccccccc4 transparent ;
    border-width: 16px;
    border-style: solid;
    top: -34px;
    right: 20px
}
  
.header_users-information::before {
    position: absolute;
    content: '';
    border-color: transparent;
    border-width: 20px;
    border-style: solid;
    top: -20px;
    right: 20px
}
  
.header_users-header {
    display: flex;
    padding-left: 12px;
    border-bottom: 1px solid #ccc;
}
  
.header_users-img2 {
    width: 24px;
    border-radius: 50%;
    margin-top: 18px;
}
  
.header_users-name {
    margin-left: 12px;
}
  
.header_users-list {
  
}
  
.header_users-item {
    list-style: none;
    padding-left: 12px;
    height: 42px;
    line-height: 42px;
    margin-top: 12px;
}
  
.header_users-item:hover {
    background-color: black;
    color: var(--white-color);
}
  

.header_index-navbar-cart {
      margin-left: 12px;
      position: relative;
}
.header_index-navbar-cart:hover .cart-more {
    display: block;
  }
  
.cart-more {
    position: absolute;
    background-color: var(--white-color);
    width: 500px;
    top: 60px;
    right: -32px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    border-radius: 3px;
    display: none;
} 
  
.cart-more::before {
      position: absolute;
      content: "";
      border-width: 50px;
      border-style: solid;
      border-color: transparent;
      right: 26px;
      top: -30px;
}
  
.cart-more::after {
      position: absolute;
      content: "";
      border-width: 15px;
      border-style: solid;
      border-color: transparent transparent #ccccccb5 transparent;
      right: 26px;
      top: -30px;
}
  
.cart-more-heading {
    font-weight: 300;
    margin-left: 12px;
}
  
.cart-more-body {
   margin-bottom: 12px;
   height: 300px;
   overflow: auto;
}

.cart-item {
    display: flex;
    align-items: center;
    cursor: pointer;
}


.cart-more-text {
    text-align: center;
    margin-left: 12px;
}

  
.cart-more-cover:hover {
    background-color: #81aaccc2;
}
  
.cart-more-photo {
      width: 54px;
      margin-top: 22px;
      margin-left: 12px;
} 
      
.cart-more-img {
      width: 100%;
      border: 1px solid #ccc;
} 
  
.cart-more-information {
     margin-left: 12px;
     line-height: 1.7;
}
  
.cart-more-name {
    display: block;
    font-size: 1.4rem !important;
    
} 
  
.cart-more-price {
     font-size: 1.4rem !important;
}  
.btn-cart {
    padding: 8px;
    border: none;
    background-color: var(--black-color);
    color: var(--white-color);
    border-radius: 3px;
    margin-left: 12px;
    cursor: pointer;
    margin-left: 195px;
}
.btn-cart:hover {
    background-color: rgba(0, 0, 0, 0.735);
}

.cart-item-count {
    position: absolute;
    background-color: #c23564;
    line-height: 1.6rem;
    font-size: 1.2rem;
    padding: 1px 5px;
    border-radius: 45%;
    top: 14px;
    left: 12px;
    display: none;
 }
  

/* container */

.container_index  {
    margin-top: 100px;
    margin-bottom: 100px;
}

.content_category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  border-bottom: 3px solid #ececec;
}

.content_category-head {
  margin-top: 12px;
}

.content_category-heading {
    font-size: 1.6rem;
    list-style: none;
    margin-bottom: 6px;
}


.content_category-end {
    display: flex;
    list-style: none;
}

.content_category-item {
    font-size: 1.6rem;
    padding-right: 100px;
}

.content_category-action {
    font-size: 1.6rem;
}

.not-product {
    text-align: center;
    font-size: 1.6rem;
    margin-top: 32px;
}


.content_product-more {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
  height: 74px;
  background-color: #81aaccd2;
  border-radius: 3px;
}

.content_product-head {
    display: flex;
    align-items: center;
}

.input {
    margin-left: 32px;
    height: 16px;
    width: 16px;
}

.content_product-img {
  height: 64px;
  margin-left: 60px;
}

.content_product-photo {
  height: 100%;
}

.content_product-name {
  font-size: 1.6rem;
  margin-left: 50px;
}

.content_product-end {
   display: flex;
}


.content_product-quantity {
  background-color: var(--white-color);
  padding: 4px;
  border-radius: 3px;
  margin-right: 90px;
 
}

.quantity-add {
   border: none;
   background-color: var(--white-color);
   cursor: pointer;
}

.quantity-minus {
    border: none;
    background-color: var(--white-color);
    cursor: pointer;
}

.content_product-input {
    border: none;
    text-align: center;
    padding-left: 9px;
    outline: none;
}

.content_product-price {
  padding-right: 100px;
  font-size: 1.6rem;
}

.content_product-delete {
    font-size: 1.6rem;
    cursor: pointer;
    margin-right: 12px;
}

.content_product-delete:hover {
    color: red;
}

.content_product-total {
    margin-top: 22px;
    display: flex;
    align-items: center;
    float: right;
}

.content_product-total-text {
    font-size: 1.6rem;
    margin-right: 50px;
}

.content_product-buy {
  background-color: var(--black-color);
  padding: 8px 12px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  color: var(--white-color);
}

.content_product-buy:hover {
    background-color: rgba(0, 0, 0, 0.623);
}


/*content2  */

.content2 {
    margin-top: 100px;
    display: none;
}
.content2_indexing {
     margin-bottom: 50px;
     background-color: #F6F6F6;
     height: 30px;
     line-height: 30px;
}
.content2_indexing-item {
    font-size: 1.6rem;
    margin-left: 8px;
    color: #155BF6;
}
  
.content_indexing-item--color {
    color: #ccc;
}
   
.content2_product {
     
}
   
.content2_product-imgs {
     position: relative;
     transition: transform 0.5s linear;
}
.content2_product-imgs:hover {
     transform: scale(0.9);
}
   
.content2_product-img1 {
     width: 100%;
     z-index: 2;
}
.content2_product-img2 {
     position: absolute;
     left: 50%;
     transform: translate(-50%);
     width: 90%;
     height: 90%;
     z-index: -1;
     object-fit: cover;
}
   
.content2_product-information {
      margin-top: 12px;
}
  
.content2_product-other {
    font-size: 1.4rem;
    user-select: none;
}
   
.content2_product-heart {
     font-size: 1.4rem;
     margin-left: 160px;
}
   
.content2_product-name {
     margin-top: 12px;
     font-size: 1.4rem;
}
   
.content2_product-price {
     margin-top: 12px;
     font-size: 1.4rem;
}
  
.content2_active {
     margin-top: 22px;
}
  

/* footer */

.footer_index {
    margin-top: 50px;
    background-color: #81AACC;
}
  
.footer_index-logo {
    margin-top: 60px;
}
  
.footer_index-logo-img {
  
}
  
.footer_index-list {
    margin-top: 16px;
    line-height: 2;
    padding-bottom: 50px;
}
  
.footer_index-list-item {
     list-style: none;
     font-size: 1.6rem;
     color: var(--white-color);
}
.footer_index-list-item:hover {
    color: #155BF6;
 }
  
.footer_index-heading {
    margin-top: 60px;
    font-size: 1.6rem;
    color: var(--white-color);
}
  
.footer_index-inputs {
    margin-top: 16px;
    border: 2px solid #ccc;
    height: 50px;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    background-color: var(--white-color);
}
  
.footer_index-input {
    padding-left: 6px;
    border: none;
    width: 67%;
    border-radius: 25px;
    outline: none;
 }
  
.footer_index-btn {
    font-size: 1.6rem;
    color: var(--white-color);
    background-color: var(--black-color);
    border-radius: 25px;
    padding: 0 16px;
    line-height: 3;
}
  
.footer_index-messenger {
    display: block;
    margin-top: 12px;
    margin-left: 24px;
    font-size: 1.4rem;
    color: red;
}
  
.footer_index-btn:hover {
    background-color: rgba(255, 0, 0, 0.6);
    cursor: pointer;
}
  
.footer_index-icons {
    margin-top: 16px;
    display: flex;
    justify-content: space-around;
}
  
.footer_index-icon {
    font-size: 3rem;
    display: block;
}
  
.footer_index-icon:hover {
    color: rgba(0, 0, 0, 0.635);
}
  
  
.btn_index-scroll {
    position: fixed;
    right: 30px;
    bottom: 30px;
    font-size: 40px;
    animation:  runModal 1s ease-in;
    display: none;
    background-color: transparent;
    border: none;
}
  
  
.btn_index-scroll:hover {
    color: rgba(0, 0, 0, 0.721);
}

.modal4 {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: none;
}

.modal4_overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    z-index: -1;
}

.modal4_body {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal4_body-cover {
    background-color: var(--white-color);
    margin-top: 80px;
    width: 500px;
    height: 650px;
    border-radius: 3px;
}

.modal4_body-delete {
    float: right;
    padding: 6px;
    font-size: 1.4rem;
    cursor: pointer;
}

.modal4_body-delete:hover {
    background-color: black;
    border-radius: 1px;
    color: var(--white-color);
}
.modal4_body-header {
  text-align: center;
  margin-top: 32px;
  
}
.modal4_body-heading {
    font-size: 2rem;
}

.modal4_body-address {
  margin-left: 22px;
  margin-right: 22px;
}

.modal4_body-name {
  font-size: 1.4rem;
  font-weight: 300;
  margin-bottom: 12px;
}

.address-input {
    width: 100%;
    height: 100px;
    border: 0.5px dashed #ccc;
    outline: none;
    border-radius: 3px;
    padding-left: 12px;
}

.modal4_body-detail {
   margin-top: 12px;
   margin-left: 22px;
   height: 200px;
   overflow: auto;
}


.modal4_body-transport {
    margin-left: 22px;
    font-size: 1.4rem;
    margin-top: 12px;
    background-color: #155cf6dd;
    color: #fff;
    margin-right: 22px;
    padding: 8px;
    border-radius: 3px;
}

.modal4_body-detail-heading {
  font-size: 1.4rem;
  font-weight: 300;
  margin-bottom: 12px;
}

.modal4_body-detail-information {
  display: flex;
  background-color: #81AACC;
  margin-right: 22px;
  height: 60px;
  border-radius: 3px;
  margin-top: 4px;
}

.modal4_body-detail-description {
  line-height: 1.5;
  margin-left: 80px;
  margin-top: 8px;
}

.modal4_body-detail-img {
   height: 44px;
   margin-top: 8px;
   margin-left: 12px;
}

.modal4_body-detail-name {
  font-size: 1.4rem;
}

.modal4_body-detail-quantity {
    font-size: 1.2rem;
}

.modal4_body-voucher {
  margin-left: 22px;
  margin-right: 22px;
  margin-top: 12px;
  font-size: 1.4rem;
  background-color: rgba(255, 68, 0, 0.479);
  padding: 8px;
  border-radius: 3px;
}


.modal4_body-total {
    margin-left: 22px;
    margin-right: 22px;
    margin-top: 12px;
    font-size: 1.4rem;
    text-decoration: underline;
}

.modal4_body-btn {
    margin-left: 22px;
    margin-right: 22px;
    margin-top: 22px;
    font-size: 1.4rem;
    background-color: var(--black-color);
    width: 80px;
    padding: 8px;
    border-radius: 3px;
    cursor: pointer;
    color: var(--white-color);
    text-align: center;
}

.modal4_body-btn:hover {
    background-color: rgba(0, 0, 0, 0.607);
}

.modal4_body-pay {
    margin-left: 22px;
    margin-right: 22px;
    margin-top: 22px;
    font-size: 1.4rem;
    border: 1px solid green;
    padding: 8px;
    border-radius: 3px;
    background-color: rgba(0, 128, 0, 0.08);
}

  

